<div *ngIf="loading" fxLayout="row" fxLayoutAlign="start center">
    <label>Loading IOUs ...&nbsp;</label>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
</div>
<label style="color: darkorange" *ngIf="originalIsserAccount && ((!loading && !iouList) || (iouList && iouList.length == 0))">This account does not issue any currencies (IOUs) on the XRP Ledger {{testMode ? 'TEST' : 'LIVE'}} net.</label>
<mat-accordion *ngIf="originalIsserAccount && !loading && iouList && iouList.length > 0" fxLayoutGap="0.5em" style="padding-top: 0.5em;">
    <mat-expansion-panel #mep>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Select an IOU from the list below
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="iouList" class="mat-elevation-z8">

            <ng-container matColumnDef="currency">
                <mat-header-cell *matHeaderCellDef> IOU Currency Code </mat-header-cell>
                <mat-cell *matCellDef="let iou" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs > {{getCurrencyCode(iou.currency)}}</span>
                    <span fxShow.xs fxHide ><b>IOU Currency Code:</b><br>{{getCurrencyCode(iou.currency)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef > Total issued value of this currency: </mat-header-cell>
                <mat-cell *matCellDef="let iou" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs >{{stringToFloat(iou.amount)}} {{getCurrencyCode(iou.currency)}}</span>
                    <span fxShow.xs fxHide ><b>Total issued value:</b><br>{{stringToFloat(iou.amount)}} {{getCurrencyCode(iou.currency)}}</span>
                </mat-cell>
            </ng-container>

            <mat-header-row fxShow fxHide.xs *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row fxLayout.xs="column" *matRowDef="let row; columns: displayedColumns;" (click)="iouSelected(row)"></mat-row>

        </mat-table>
    </mat-expansion-panel>
</mat-accordion>