td {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-mdc-cell {
    justify-content: center;
}

.mat-mdc-row {
    cursor: pointer;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
.mat-chip-bithomp {
    background-color: #22A9BC !important;
    color: white !important;
} 

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
.mat-chip-xrpscan {
    background-color: #3279B6 !important;
    color: white !important;
}

@media (min-width:959px) {

    .mat-column-account {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 18% !important;
        width: 18% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-kyc {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 4% !important;
        width: 4% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-selfassessment {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 5% !important;
        width: 5% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-username {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-currency {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 8% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-amount {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-trustlines {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 7% !important;
        width: 7% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-holders {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 7% !important;
        width: 7% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-offers {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 6% !important;
        width: 6% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-trustlinelink {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 7% !important;
        width: 7% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-dexlink {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 8% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-explorer {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:959px) {
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
    .mat-chip-bithomp {
        font-size: 8px !important;
        min-height: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: #22A9BC !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
    .mat-chip-xrpscan {
        font-size: 8px !important;
        min-height: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: #3279B6 !important;
    } 

    .mat-mdc-card {
        font-size: 12px;
    }

    .mat-mdc-footer-row , .mat-mdc-row {
        padding-top: 0.5em;
        align-items: start;
        min-height: 14px;
        cursor: pointer;
    }

    .mat-mdc-cell {
        padding-left: 1em;
        font-size: 12px;
        justify-content: start;
        border-bottom-style: none;
    }

    .mat-mdc-row {
        border-bottom-style: solid !important;
        border-bottom-width: 0 !important;
    }

    .mat-column-account {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-username {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-currency {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-amount {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-trustlines {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}
