td {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-cell {
    justify-content: center;
}

.mat-row {
    cursor: pointer;
}

.mat-chip-bithomp {
    font-size: 9px !important;
    min-height: 12px;
    padding: 7px 5px;
    border-radius: 7px;
    background-color: #22A9BC !important;
} 

.mat-chip-xrpscan {
    font-size: 9px !important;
    min-height: 12px;
    padding: 7px 5px;
    border-radius: 7px;
    background-color: #3279B6 !important;
}



@media (min-width:600px) {

    .mat-column-account {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 20% !important;
        width: 20% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-kyc {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 4% !important;
        width: 4% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-username {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 15% !important;
        width: 15% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-currency {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-amount {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 15% !important;
        width: 15% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-trustlines {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-offers {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 7% !important;
        width: 7% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-link {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 7% !important;
        width: 7% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }

    .mat-column-explorer {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:599px) {

    .mat-chip-bithomp {
        font-size: 8px !important;
        min-height: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: #22A9BC !important;
    } 
    
    .mat-chip-xrpscan {
        font-size: 8px !important;
        min-height: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: #3279B6 !important;
    } 

    .mat-card {
        font-size: 12px;
    }

    .mat-footer-row , .mat-row {
        padding-top: 0.5em;
        align-items: start;
        min-height: 14px;
        cursor: pointer;
    }

    .mat-cell {
        padding-left: 1em;
        font-size: 12px;
    }

    .mat-column-account {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-username {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-currency {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-amount {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-trustlines {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}
