<mat-expansion-panel #mep expanded="true">
  
  <mat-expansion-panel-header fxShow fxHide.lt-md>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">list</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> List of all Tokens on the Xahau  Network Mainnet </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-expansion-panel-header fxShow.lt-md fxHide>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">list</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;">List of Xahau Mainnet tokens</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutGap="0.5em">
    <mat-card fxLayout="column" fxLayoutGap="0.5em">
      <div *ngIf="loading" fxLayout="row" fxLayoutGap="0.5em">
        <label class="warning">LoadingXahau Network tokens ...&nbsp;</label>
        <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
      </div>
      <div *ngIf="!loading && datasource && datasource.data" fxLayout="column" fxLayoutGap="0.5em">
        <label><b>The below token table is based onXahau Network:</b></label>
        <table style="display: block;">
          <tr>
            <td><label>Ledger Index:&nbsp;</label></td>
            <td><label class="loading">{{ledgerIndex}}</label></td>
          </tr>
          <tr>
            <td><label>Ledger Hash:&nbsp;</label></td>
            <td><label class="loading">{{ledgerHash}}</label></td>
          </tr>
          <tr>
            <td><label>Ledger Close Time:&nbsp;</label></td>
            <td><label class="loading">{{humanReadableCloseTime()}}</label></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><label>Additional stats:</label></td>
          </tr>
          <tr>
            <td><label>Unique accounts issuing tokens:&nbsp;</label></td>
            <td><label class="loading">{{issuingAccounts}}</label></td>
          </tr>
          <tr>
            <td><label>Issued tokens:&nbsp;</label></td>
            <td><label class="loading">{{numberOfIssuedTokens}}</label></td>
          </tr>
        </table>
        
      </div>
      <div *ngIf="!loading && (!datasource || !datasource.data)"  fxLayout="column" fxLayoutGap="0.5em">
        <label class="warning">{{errorMessage}}</label>
      </div>
    </mat-card>

    <mat-form-field ngStyle.lt-md="width: 100%" ngStyle.gt-md="width: 50%" style="padding-top: 1em;">
      <mat-label class="loading">
        <i class="material-icons">
          search
        </i>
      </mat-label>
      <input matInput [disabled]="loading"  (keyup)="applyFilter($event)" placeholder="account, currency, number, ...">
    </mat-form-field>

    <div fxLayout="column" style="padding-bottom: 0.5em;" fxLayoutGap="0.5em">
      <mat-checkbox [disabled]="loading" [(ngModel)]="showSelfAssessmentOnly" class="loading" (change)="switchTokenList()">Show only Tokens with Self-Assessment</mat-checkbox>
      <mat-checkbox [disabled]="loading" [(ngModel)]="showKycOnly" class="loading" (change)="switchTokenList()">Show only Xaman KYC'd issuers</mat-checkbox>
    </div>

    <!--div fxHide fxShow.xs fxLayout="row" fxLayoutGap="0.3em" style="padding-bottom: 1em">
      <mat-form-field style="width: 100%;">
        <mat-label>Sort table by:</mat-label>
        <mat-chip-list>
          <mat-chip *ngFor="let column of sortColumns" [selectable]="true">
            {{column}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div-->

    <div fxLayout="column">

      <mat-table [dataSource]="datasource" class="mat-elevation-z8" matSort multiTemplateDataRows matSortActive="holders" matSortDirection="desc">

        <ng-container matColumnDef="account">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Issuer Account </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
              <span fxShow fxHide.lt-md fxLayout="row" fxLayoutGap="0.3em">
                <label [innerHTML]="row.account | highlightSearch: filterText"></label>
              </span>
              <span fxShow.lt-md fxHide >
                <b>Issuer Account:</b>&nbsp;
                <label [innerHTML]="row.account | highlightSearch: filterText"></label>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>Totals: {{uniqueFilteredAccount.size}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="kyc">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Xaman KYC </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
              <span fxShow fxHide.lt-md fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.3em">
                <div *ngIf="row.kyc" fxLayout="row" fxLayoutAlign="center center">
                  <i class="material-icons" style="color: green; font-size: 1.4em;">
                    check_circle
                  </i>
                </div>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row" fxLayoutAlign="center start">
                <b>Xaman KYC:</b>&nbsp;
                <div *ngIf="row.kyc">
                  <i class="material-icons" style="color: green; font-size: 1.2em;">
                    check_circle
                  </i>
                </div>
                <div *ngIf="!row || !row.kyc">
                  <label>&nbsp;-</label>
                </div>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>{{kycAccountsTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="selfassessment">
          <mat-header-cell *matHeaderCellDef> Self Assessment </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <span fxShow fxHide.lt-md fxLayout="column" fxLayout.gt-md="row">
                <div *ngIf="row && row.self_assessment && row.self_assessment.information">
                  <a [href]="row.self_assessment.information" target="_blank">Link</a>
                </div>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Self Assessment:</b>&nbsp;
                <div *ngIf="row && row.self_assessment && row.self_assessment.information">
                  <a [href]="row.self_assessment.information" target="_blank">Link</a>
                </div>
                <div *ngIf="!row || !row.self_assessment || !row.self_assessment.information">
                  <label>&nbsp;-</label>
                </div>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>{{selfAssessmentsTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Accountname </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
              <span fxShow fxHide.lt-md fxLayout="row">
                <label [innerHTML]="row.username | highlightSearch: filterText"></label>
                <mat-chip-list style="padding-left: 0.2em;" *ngIf="row.username"><mat-chip [ngClass]="(row.resolvedBy == 'Bithomp' ? 'mat-chip-bithomp': 'mat-chip-xrpscan')">{{row.resolvedBy}}</mat-chip></mat-chip-list>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Accountname:</b>&nbsp;
                <div fxLayout="row">
                  <label [innerHTML]="row.username | highlightSearch: filterText"></label>
                  <mat-chip-list style="padding-left: 0.2em;" *ngIf="row.username"><mat-chip [ngClass]="(row.resolvedBy == 'Bithomp' ? 'mat-chip-bithomp': 'mat-chip-xrpscan')">{{row.resolvedBy}}</mat-chip></mat-chip-list>
                </div>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>{{accountNameTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="currency">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Token Currency Code </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
                <span fxShow fxHide.lt-md fxLayout="row">
                  <label [innerHTML]="row.currencyCodeUTF8 | highlightSearch: filterText"></label>
                  <div *ngIf="row.isHot">
                    &nbsp;<i #tooltip="matTooltip"
                    matTooltip="{{row.newTrustlines}} new TrustLines in 24h"
                    matTooltipPosition="above"
                    class="material-icons" 
                    style="color: #FF6B6B; font-size: 1.2em;">local_fire_department</i>
                  </div>
                </span>
                <span fxShow.lt-md fxHide fxLayout="row">
                  <b>Token Currency Code:</b>&nbsp;
                  <label [innerHTML]="row.currencyCodeUTF8 | highlightSearch: filterText"></label>
                  <div *ngIf="row.isHot">
                    &nbsp;<i #tooltip="matTooltip"
                    matTooltip="{{row.newTrustlines}} new TrustLines in 24h"
                    matTooltipPosition="above"
                    class="material-icons" 
                    style="color: #FF6B6B; font-size: 1.2em;">local_fire_department</i>
                  </div>
                </span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef><b>{{currencyCodeTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Supply </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
                <span fxShow fxHide.lt-md >
                  <label [innerHTML]="row.amount | highlightSearch: filterText"></label>
                </span>
                <span fxShow.lt-md fxHide >
                  <b>Total Supply:</b>&nbsp;
                  <label [innerHTML]="row.amount | highlightSearch: filterText"></label>
                </span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef><b>{{issuedTokensTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="trustlines">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Number of TrustLines </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
              <span fxShow fxHide.lt-md fxLayout="column">
                <label [innerHTML]="row.trustlines | highlightSearch: filterText"></label>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Number of TrustLines:</b>&nbsp;
                <label [innerHTML]="row.trustlines | highlightSearch: filterText"></label>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>{{numberOfTrustlinesTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="holders">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Holders </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
              <span fxShow fxHide.lt-md fxLayout="column">
                <label [innerHTML]="row.holders | highlightSearch: filterText"></label>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Number of Holders:</b>&nbsp;
                <label [innerHTML]="row.holders | highlightSearch: filterText"></label>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>{{numberOfHoldersTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="offers">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Current Dex Offers </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openDetailsDialog(row)">
              <span fxShow fxHide.lt-md >
                <label [innerHTML]="row.offers | highlightSearch: filterText"></label>
              </span>
              <span fxShow.lt-md fxHide >
                <b>Current Dex Offers:</b>&nbsp;
                <label [innerHTML]="row.offers | highlightSearch: filterText"></label>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>{{dexOffersTotal}}</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="trustlinelink">
          <mat-header-cell *matHeaderCellDef> Trustline </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <span fxShow fxHide.lt-md fxLayout="column" fxLayout.gt-md="row">
                <a [routerLink]="['/']" [queryParams]="getTrustlineQueryParams(row)" target="_blank">Set Trustline</a>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Trustline:</b>&nbsp;
                <a [routerLink]="['/']" [queryParams]="getTrustlineQueryParams(row)" target="_blank">Set Trustline</a>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>-</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="dexlink">
          <mat-header-cell *matHeaderCellDef> Dex </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <span fxShow fxHide.lt-md fxLayout="column" fxLayout.gt-lg="row">
                <a [href]="getXummDexLink(row.account,row.currencyCode)" target="_blank">Xaman Dex</a>
                <label fxHide fxShow.gt-lg>&nbsp;|&nbsp;</label>
                <a [href]="getSologenicDexLink(row.account,row.currencyCode)" target="_blank">Sologenic</a>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Dex:</b>&nbsp;
                <a [href]="getXummDexLink(row.account,row.currencyCode)" target="_blank">Xaman Dex xApp</a>
                <label>&nbsp;|&nbsp;</label>
                <a [href]="getSologenicDexLink(row.account,row.currencyCode)" target="_blank">Sologenic</a>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>-</b></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="explorer">
          <mat-header-cell *matHeaderCellDef> Explorers </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <span fxShow fxHide.lt-md fxLayout="column" fxLayout.gt-lg="row">
                <a [href]="getBithompLink(row.account)" target="_blank">Bithomp</a>
                <label fxHide fxShow.gt-lg>&nbsp;|&nbsp;</label>
                <a [href]="getXRPScanLink(row.account)" target="_blank">XRPScan</a>
              </span>
              <span fxShow.lt-md fxHide fxLayout="row">
                <b>Explorers:</b>&nbsp;
                <a [href]="getBithompLink(row.account)" target="_blank">Bithomp</a>
                <label>&nbsp;|&nbsp;</label>
                <a [href]="getXRPScanLink(row.account)" target="_blank">XRPScan</a>
              </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef><b>-</b></mat-footer-cell>
        </ng-container>

        <mat-header-row fxShow fxHide.lt-md *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row fxLayout.lt-md="column" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row fxShow fxHide.lt-md *matFooterRowDef="displayedColumns"></mat-footer-row>
      </mat-table>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
</mat-expansion-panel>