.break-words {
    word-wrap: break-word !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-mdc-dialog-content {
    margin: 5px;
    padding: 5px;
}

.div {
    word-wrap: break-word !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media (max-width:599px) {
    .mat-mdc-dialog-content {
        font-size: 0.8em;
    }
}