<mat-dialog-content fxFlex fxLayout="column" ngStyle.gt-xs="min-width: 20em" style="width: fit-content; height: fit-content;">
    <h3 class="loading">Token Information</h3>
    <div fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em; width: fit-content; height: fit-content;">

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">
            <div fxLayout="column" fxLayoutGap="0.3em" style="width: 50%">
                <label><b>Issuer:</b></label>
                <label class="break-words">{{tokenIssuer.account}}</label>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Name:</b></label>
                <label>{{tokenIssuer.username ? tokenIssuer.username : '-'}}</label>
            </div>
        </mat-card>

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">
            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Currency:</b></label>
                <label>{{tokenIssuer.currency}}</label>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Currency (HEX-Code):</b></label>
                <label class="break-words" *ngIf="tokenIssuer.currency.length > 3">{{getCurrencyCodeAsHex()}}</label>
                <label *ngIf="tokenIssuer.currency.length == 3">-</label>
            </div>
        </mat-card>

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Supply:</b></label>
                <label>{{tokenIssuer.amount}}</label>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Supply fixed:</b></label>
                <div *ngIf="!accountData">
                    -
                </div>
                <div *ngIf="accountData && accountIsBlackholed()" style="display: flex">
                    <i class="material-icons" style="color: green; font-size: 1.4em;">
                        check_circle
                    </i>
                </div>
                <div *ngIf="accountData && !accountIsBlackholed()" style="display: flex; width: 50%;">
                    <i class="material-icons" style="color: red; font-size: 1.4em;">
                        highlight_off
                    </i>
                </div>
            </div>
        </mat-card>

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Trustlines:</b></label>
                <label>{{tokenIssuer.trustlines}}</label>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>DEX Offers:</b></label>
                <label>{{tokenIssuer.offers}}</label>
            </div>
        </mat-card>

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Twitter:</b></label>
                <div *ngIf="tokenIssuer.twitter">
                    <a href="https://twitter.com/{{tokenIssuer.twitter}}" target="_blank">@{{tokenIssuer.twitter}}</a>
                </div>
                <div *ngIf="!tokenIssuer.twitter">
                    -
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Domain:</b></label>
                <div *ngIf="tokenIssuer.domain">
                    <a href="{{addMissingHttpsIfMissing(tokenIssuer.domain)}}" target="_blank">{{tokenIssuer.domain}}</a>
                </div>
                <div *ngIf="!tokenIssuer.domain && accountData && accountData.Domain">
                    <a href="{{addMissingHttpsIfMissing(getDomainFromXrplAccount())}}" target="_blank">{{getDomainFromXrplAccount()}}</a>
                </div>
                <div *ngIf="!tokenIssuer.domain && (!accountData || !accountData.Domain)">
                    -
                </div>
            </div>
        </mat-card>

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Token creation:</b></label>
                <label>{{getTokenCreation()}}</label>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
                <label><b>Provided by:</b></label>
                <a href="https://xrplorer.com" target="_blank">xrplorer.com</a>
            </div>
        </mat-card>

        <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

            <div fxLayout="column" fxLayoutGap="0.3em" style="width: 50%;" >
                <label><b>Verified:</b></label>
                <div *ngIf="tokenIssuer.verified" style="display: flex">
                    <i class="material-icons" style="color: green; font-size: 1.4em;">
                        verified
                    </i>
                </div>
                <div *ngIf="!tokenIssuer.verified" style="display: flex">
                    <i class="material-icons" style="color: red; font-size: 1.4em;">
                        highlight_off
                    </i>
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="0.3em" style="width: 50%;">
                <label><b>Resolved by:</b></label>
                <div *ngIf="tokenIssuer.resolvedBy">
                    <a [href]="getExplorerLink()" target="_blank">{{tokenIssuer.resolvedBy}}</a>
                </div>
                <div *ngIf="!tokenIssuer.resolvedBy">
                    -
                </div>
            </div>
        </mat-card>

    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 1em; padding-bottom: 2px;">
        <button mat-raised-button color="primary" (click)="closeIt()">
            Close
        </button>
    </div>
</mat-dialog-content>
