<mat-dialog-content fxFlex fxLayout="column" ngStyle.gt-xs="min-width: 20em" style="width: fit-content; height: fit-content;">
  <h3 class="loading">Token Information</h3>
  <div fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em; width: fit-content; height: fit-content;">

    <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">
      <div fxLayout="column" fxLayoutGap="0.3em" style="width: 50%">
        <label><b>Issuer:</b></label>
        <label class="break-words">{{tokenIssuer.account}}</label>
      </div>

      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>Name:</b></label>
        <label>{{tokenIssuer.username ? tokenIssuer.username : '-'}}</label>
      </div>
    </mat-card>

    <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">
      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>Currency:</b></label>
        <label>{{tokenIssuer.currencyCodeUTF8}}</label>
      </div>

      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>Currency (HEX-Code):</b></label>
        @if (tokenIssuer.currencyCode.length > 3) {
          <label class="break-words">{{tokenIssuer.currencyCode}}</label>
        }
        @if (tokenIssuer.currencyCode.length == 3) {
          <label>-</label>
        }
      </div>
    </mat-card>

    <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>Supply:</b></label>
        <label>{{convertedAmount}}</label>
      </div>

      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>Supply fixed:</b></label>
        @if (!accountData) {
          <div>
            -
          </div>
        }
        @if (accountData && accountIsBlackholed()) {
          <div style="display: flex">
            <i class="material-icons" style="color: green; font-size: 1.4em;">
              check_circle
            </i>
          </div>
        }
        @if (accountData && !accountIsBlackholed()) {
          <div style="display: flex; width: 50%;">
            <i class="material-icons" style="color: red; font-size: 1.4em;">
              highlight_off
            </i>
          </div>
        }
      </div>
    </mat-card>

    <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

      <div fxLayout="column" fxLayoutGap="0.3em" style="width: 50%;" >
        <label><b>KYC:</b></label>
        @if (tokenIssuer.kyc) {
          <div style="display: flex">
            <i class="material-icons" style="color: green; font-size: 1.4em;">
              verified
            </i>
          </div>
        }
        @if (!tokenIssuer.kyc) {
          <div style="display: flex">
            <i class="material-icons" style="color: red; font-size: 1.4em;">
              highlight_off
            </i>
          </div>
        }
      </div>

      <div fxLayout="column" fxLayoutGap="0.3em" style="width: 50%;">
        <label><b>Provided by:</b></label>
        <label>Xaman</label>
      </div>
    </mat-card>

    <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>Trustlines:</b></label>
        <label>{{tokenIssuer.trustlines}}</label>
      </div>

      <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
        <label><b>DEX Offers:</b></label>
        <label>{{tokenIssuer.offers}}</label>
      </div>
    </mat-card>

    <!--mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

    <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
      <label><b>Liquidity:</b></label>
      <div *ngIf="loadingLiquidity" fxLayout="row" fxLayoutGap="0.3em">
        <label>Loading liquidity ... </label>
        <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
      </div>
      <div *ngIf="!loadingLiquidity && !liquidityCheckFailed" fxLayout="row">
        <div *ngFor="let in of fullStars">
          <i class="material-icons" style="color:#FFB300 ; font-size: 1.4em;">
            star
          </i>
        </div>
        <div *ngFor="let in of halfStars">
          <i class="material-icons" style="color:#FFB300 ; font-size: 1.4em;">
            star_half
          </i>
        </div>
        <div *ngFor="let in of emptyStars">
          <i class="material-icons" style="color:#FFB300 ; font-size: 1.4em;">
            star_outline
          </i>
        </div>
      </div>
      <div *ngIf="!loadingLiquidity && liquidityCheckFailed" fxLayout="row">
        <label class="warning">Liquidity check failed!</label>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
      <label><b>Liquidity Info:</b></label>
      <label>Liquidity based on converting up to 10k XRP.</label>
    </div>
  </mat-card-->

  <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

    <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
      <label><b>Twitter:</b></label>
      @if (tokenIssuer.twitter) {
        <div>
          <a href="https://twitter.com/{{tokenIssuer.twitter}}" target="_blank">&#64;{{tokenIssuer.twitter}}</a>
        </div>
      }
      @if (!tokenIssuer.twitter) {
        <div>
          -
        </div>
      }
    </div>

    <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
      <label><b>Domain:</b></label>
      @if (tokenIssuer.domain) {
        <div>
          <a href="{{addMissingHttpsIfMissing(tokenIssuer.domain)}}" target="_blank">{{tokenIssuer.domain}}</a>
        </div>
      }
      @if (!tokenIssuer.domain && accountData && accountData.Domain) {
        <div>
          <a href="{{addMissingHttpsIfMissing(getDomainFromXrplAccount())}}" target="_blank">{{getDomainFromXrplAccount()}}</a>
        </div>
      }
      @if (!tokenIssuer.domain && (!accountData || !accountData.Domain)) {
        <div>
          -
        </div>
      }
    </div>
  </mat-card>

  <mat-card fxLayout="row" fxLayoutGap="1em"class="theme-background">

    <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
      <label><b>Token creation:</b></label>
      <label>{{getTokenCreation()}}</label>
    </div>

    <div fxLayout="column" fxLayoutGap="0.3em" style="width:50%">
      <label><b>Provided by:</b></label>
      <a href="https://xrplorer.com" target="_blank">xrplorer.com</a>
    </div>
  </mat-card>

</div>
<div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 1em; padding-bottom: 2px;">
  <button mat-raised-button color="primary" (click)="closeIt()">
    Close
  </button>
</div>
</mat-dialog-content>
