<div *ngIf="loading" fxLayout="row" fxLayoutAlign="start center">
    <label>Loading escrows...&nbsp;</label>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
</div>
<label style="color: darkorange" *ngIf="!loading && !escrowData && !isCancel && this.isFinish">No Escrows found that meet the EscrowFinish requirements.</label>
<label style="color: darkorange" *ngIf="!loading && !escrowData && isCancel && !this.isFinish">No Escrows found that meet the EscrowCancel requirements.</label>
<mat-accordion *ngIf="!loading && escrowData && escrowData.length > 0" fxLayoutGap="0.5em" style="padding-top: 0.5em;">
    <mat-expansion-panel #mep>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="isCancel || isFinish">Select Escrow from list</span>
            <span *ngIf="!isCancel && !isFinish">All escrows of the logged in account.</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="escrowData" class="mat-elevation-z8">

            <ng-container matColumnDef="destination">
                <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
                <mat-cell *matCellDef="let escrow" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs > {{escrow.Destination}}</span>
                    <span fxShow.xs fxHide ><b>Destination:</b><br>{{escrow.Destination}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef > Amount in XRP </mat-header-cell>
                <mat-cell *matCellDef="let escrow" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs >{{getAmountInXRP(escrow.Amount)}}</span>
                    <span fxShow.xs fxHide ><b>Escrow Amount in XRP:</b><br>{{getAmountInXRP(escrow.Amount)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="finishafter">
                <mat-header-cell *matHeaderCellDef > Finish After </mat-header-cell>
                <mat-cell *matCellDef="let escrow" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs >{{getTimeFromRippleTime(escrow.FinishAfter)}}</span>
                    <span fxShow.xs fxHide ><b>Finish:</b>&nbsp;{{getTimeFromRippleTime(escrow.FinishAfter)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cancelafter">
                <mat-header-cell *matHeaderCellDef > Cancel After </mat-header-cell>
                <mat-cell *matCellDef="let escrow" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs >{{getTimeFromRippleTime(escrow.CancelAfter)}}</span>
                    <span fxShow.xs fxHide ><b>Cancel:</b>&nbsp;{{getTimeFromRippleTime(escrow.CancelAfter)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="condition">
                <mat-header-cell *matHeaderCellDef > Has Password </mat-header-cell>
                <mat-cell *matCellDef="let escrow" (click)="mep.expanded=false">
                    <span fxShow fxHide.xs ><mat-checkbox [checked]="escrow.Condition" [disabled]="true"></mat-checkbox></span>
                    <span fxShow.xs fxHide><b>Has Password:</b>&nbsp;<mat-checkbox [checked]="escrow.Condition" [disabled]="true"></mat-checkbox></span>
                </mat-cell>
            </ng-container>

            <mat-header-row fxShow fxHide.xs *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row fxLayout.xs="column" *matRowDef="let row; columns: displayedColumns;" (click)="escrowSelected(row)"></mat-row>

        </mat-table>
    </mat-expansion-panel>
</mat-accordion>