<mat-expansion-panel [disabled]="true">
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">group_add</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> XUMM Multi Sign </span>
    </mat-panel-title>
    <mat-panel-description>
      In Planning ...
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Multi Sign</label>
    </mat-panel-title>
    <mat-panel-description>
      In Planning ...
    </mat-panel-description>
  </mat-expansion-panel-header>
  
</mat-expansion-panel>