<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">playlist_add_check</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Check Trust Lines Settings </span>
    </mat-panel-title>
    <mat-panel-description>
      Check the status of the DefaultRipple field for an account and the NoRipple flag of its trust lines
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Check Trust Lines</label>
    </mat-panel-title>
    <mat-panel-description>
      Checks DefaultRipple and NoRipple Flag
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.3em">
    <a href="https://xrpl.org/noripple_check.html" target="_blank" rel="noreferrer">no-ripple check Documentation</a><br/>
    <label>It is very important that you know if you issued some Token with your account or not. Depending on that, different checks are made.</label>
    <label>We are trying to detect if you have issued a Token or not. If the detection does not reflect your account status, please do not proceed with fixing the problems!</label>
    <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
      <mat-form-field>
        <input #inpxrplaccount matInput name="xrplaccount" matInput placeholder="XRPL address you want to run the check for" [(ngModel)]="xrplAccountInput" (ngModelChange)="checkChanges()">
        <mat-hint *ngIf="xrplAccountInput && !validAddress">Not a valid XRPL address</mat-hint>
      </mat-form-field>
    </form>
    <label class="warning" *ngIf="validAddress && !loadingProblems && accountNotFound">This account does not exist on the XRP Ledger {{isTestMode ? 'TEST' : 'MAIN'}} network.</label>
    <label class="warning" *ngIf="validAddress && !loadingProblems && !accountNotFound && isGateway">We have detected that your account does issue some Token. If this is NOT correct, please DO NOT PROCEED!</label>
    <label class="warning" *ngIf="validAddress && !loadingProblems && !accountNotFound && !isGateway">We have detected that your account does NOT issue any Token. If this is NOT correct, please DO NOT PROCEED!</label>
  </div>

  <mat-card *ngIf="validAddress && !accountNotFound" fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.3em" style="margin-top: 1em;">
    <div *ngIf="loadingProblems" fxLayout="row" fxLayoutAlign="start center">
      <label>Checking your Account and Trust Line settings...&nbsp;</label>
      <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
    </div>
    <label class="success" *ngIf="!loadingProblems && (!problemsAndTransactions || problemsAndTransactions.length == 0)">No problems detected. All your settings are perfect! You are good to go.</label>
    <div *ngIf="!loadingProblems && problemsAndTransactions && problemsAndTransactions.length > 0" fxLayoutGap="0.5em" style="padding-top: 0.5em;">
      <mat-table [dataSource]="problemsAndTransactions" class="mat-elevation-z8">

          <ng-container matColumnDef="problem">
              <mat-header-cell *matHeaderCellDef> Problem description </mat-header-cell>
              <mat-cell *matCellDef="let problem">
                  <span fxShow fxHide.xs > {{problem.problem}}</span>
                  <span fxShow.xs fxHide ><b>Problem:</b><br>{{problem.problem}}</span>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fix">
              <mat-header-cell *matHeaderCellDef > Fix Problem </mat-header-cell>
              <mat-cell *matCellDef="let problem">
                <button *ngIf="problem.txJson" mat-raised-button color="primary" aria-label="Edit" matTooltip="Fix Problem" matTooltipPosition="above" (click)="sendPayloadToXumm(problem.txJson)">
                  Fix problem
                </button>
                <label *ngIf="!problem.txJson">Needs manual fix.</label>
              </mat-cell>
          </ng-container>

          <mat-header-row fxShow fxHide.xs *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row fxLayout.xs="column" *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
  </mat-card>
</mat-expansion-panel>