@media (min-width:600px) {

    .mat-column-problem {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 90% !important;
        width: 90% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-fix {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:599px) {

    .mat-mdc-footer-row , .mat-mdc-row {
        padding-top: 0.5em;
        align-items: start;
        min-height: 24px;
    }

    .mat-mdc-cell {
        padding-left: 1em;
    }

    .mat-column-problem {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-fix {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}
