<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs id="rawtransactions">
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">code</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Raw JSON Transactions </span>
    </mat-panel-title>
    <mat-panel-description>
      Create raw XRP Ledger transactions in JSON format and send it to your XUMM app!
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide id="rawtransactions">
    <mat-panel-title>
      <label class="loading">Raw Transactions</label>
    </mat-panel-title>
    <mat-panel-description>
      Create raw XRP Ledger transactions
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <div fxLayout="column" fxLayoutGap="0.5em">
    <div *ngIf="loadingTemplates" fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
      <label>Loading transaction templates... </label>
      <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
    </div>
    <div *ngIf="!loadingTemplates && transactionTemplates">
      <mat-form-field>
        <mat-label>Select a template</mat-label>
        <mat-select [(value)]="selectedTemplate" (valueChange)="changeTemplate()">
          <mat-select-trigger *ngIf="selectedTemplate">
            {{selectedTemplate.transactionType}}
          </mat-select-trigger>
          <mat-option *ngFor="let template of transactionTemplates" [value]="template">
            <div fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start center">
              <label>{{template.transactionType}}</label>
              <mat-icon class="warning" style="transform: scale(0.8);" *ngIf="template.requiresAmendment">build</mat-icon>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedTemplate && selectedTemplate.requiresAmendment">
        <label class="warning">This transaction type requires an amendment which is NOT yet enabled on the XRP Ledger! This transaction won't be possible.</label>
      </div>
      <div *ngIf="selectedTemplate && selectedTemplate.docLink">
        <a [href]="selectedTemplate.docLink" target="_blank" rel="noreferrer">{{selectedTemplate.transactionType}} documentation</a>
      </div>
    </div>

    <div>
      <ngx-codemirror style="height: 600px;" [options]="editorOptions" [(ngModel)]="rawJsonTransaction" (ngModelChange)="checkJson()"></ngx-codemirror>
    </div>

    <label *ngIf="selectedTemplate && selectedTemplate.transactionType != 'None'">We have removed the "Sequence" and "Fee" properties since XUMM will take care of this!</label>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="start start" fxLayoutGap="0.5em" style="padding-top: 2em;">
      <button mat-raised-button color="primary" (click)="sendToXumm()" [disabled]="!isValidJson">
        Send Transaction to XUMM
      </button>
      <label *ngIf="!isValidJson">{{errorMsg}}</label>
    </div>
  </div>
</mat-expansion-panel>