<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">account_box</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Testnet Account </span>
    </mat-panel-title>
    <mat-panel-description>
      Create a Testnet account to be able to play around with the XRP Ledger Testnet without risking your real funds
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Testnet Account</label>
    </mat-panel-title>
    <mat-panel-description>
      Create Testnet account
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-vertical-stepper linear #stepper>
    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <ng-template matStepLabel>Description</ng-template>
          <a href="https://xrpl.org/xrp-testnet-faucet.html" target="_blank" rel="noreferrer">XRP Ledger Test/Dev Network Documentation</a><br/>
          <label>This guide will walk you through the process of connecting your XUMM app to the XRP Testnet and import a Testnet account.</label><br/>
          <label>Besides the XRP Ledger Mainnet (where all the real transactions happen) there is also a XRP Ledger <b>Testnet</b>.</label>
          <label>The <b>Testnet</b> exists to provide a testing platform for any software products built on the XRP Ledger without using real funds.</label>
          <label>These funds are intended for <b>testing</b> only. The Testnet ledger and balances will be reset approximately every 90 days, or when otherwise necessary.</label>
          <label>Testnet balances are separate. As a precaution, <b>do not use</b> the Testnet credentials on the Mainnet.</label>
          <mat-checkbox [(ngModel)]="checkBoxConsent" [ngClass]="(checkBoxConsent ? 'success': 'warning')">I understand to NOT USE Testnet credentials on the XRP Ledger Mainnet.</mat-checkbox>
          <div style="padding-top: 0.5em;">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxConsent">Next</button>
          </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <ng-template matStepLabel>Switch XUMM to Testnet</ng-template>
          <label class="loading">At first you have to switch your XUMM app to connect to the Testnet. Please follow these steps:</label>
          <label>1. Open XUMM and navigate to "Settings"</label>
          <label>2. Click the option "Advanced"</label>
          <label>3. Find the entry "Node" at the top of the options list and select it.</label>
          <label>4. Choose one of the Testnet nodes under "Test net"</label>
          <label>5. Additional info: If you want to switch back to the Mainnet, follow steps 1-3 and then choose one of the Mainnet nodes. It is highly recommended to choose 'wss://xrpl.ws' for accessing the Mainnet.</label>

          <mat-checkbox [(ngModel)]="checkBoxXummConnected" [ngClass]="(checkBoxXummConnected ? 'success': 'warning')">I have followed the steps. My XUMM app is connected to a Testnet node and I know how to switch back to the Mainnet.</mat-checkbox>
          <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxXummConnected">Next</button>
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <ng-template matStepLabel>Prepare XUMM to add an account</ng-template>
          <label class="loading">Now we prepare your XUMM app to add a new Testnet account via QR code or Copy & Paste:</label>
          <label>1. Open the XUMM main page and navigate to "Settings"</label>
          <label>2. Click the option "Accounts"</label>
          <label>3. Click the "+" button in the top right corner to add a new account.</label>
          <label>4. Choose "Import existing account"</label>
          <label>5. Choose "Full access" and click "Next"</label>
          <label>6. Choose "Family Seed" and click "Next"</label>
          <label>7. Now you are ready to add a Testnet account. You have two Options:</label>
          <label>8a. If you want to add your Account via QR-Code: click the scanner icon right next to the family seed input.</label>
          <label>8b. If you want to add your Account via copy & paste of the family seed: You are ready. Just proceed to the next step.</label>

          <mat-checkbox [(ngModel)]="checkBoxQrScannerOpened" [ngClass]="(checkBoxQrScannerOpened ? 'success': 'warning')">I have followed the steps and my XUMM app is ready to scan a QR code or insert the family seed via Copy & Paste.</mat-checkbox>
          <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxQrScannerOpened">Next</button>
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false" class="final-container">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <ng-template matStepLabel>Create Testnet credentials</ng-template>
          <label>Now you are ready to create your Testnet credentials! Just hit the button below and we will create Testnet credentials for you with a balance of 1000 XRP.</label><br/>
          <div>
            <button mat-raised-button color="primary" (click)="createTestNetCredentials()" [disabled]="!checkBoxConsent || loading">
              {{newAccount ? 'Renew' : 'Create'}} Testnet account
            </button>
          </div>
      
          <div *ngIf="loading" fxLayout="row" fxLayoutGap="0.5em">
            <label>Creating your testnet account and sending some XRP ...&nbsp;</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </div>

          <div *ngIf="!loading && error" fxLayout="row" fxLayoutGap="0.5em">
            <label class="warning">{{error}}</label>
          </div>
          
          <div *ngIf="!loading && !error && newAccount && checkBoxConsent" fxLayout="column" fxLayoutGap="1.5em">
            <label class="loading">Scan the QR code below or Copy & Paste the Family Seed to add your new Testnet account to XUMM.</label>
            <mat-card fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.3em" style="margin-top: 1em;">
              <table style="display: block;">
                <tr>
                  <td><label>Account:&nbsp;</label></td>
                  <td class="loading break-words">{{newAccount.account.address}}</td>
                </tr>
                <tr>
                  <td><label>Balance:&nbsp;</label></td>
                  <td class="loading break-words">{{newAccount.balance}}&nbsp;XRP</td>
                </tr>
                <tr>
                  <td><label>Family Seed:&nbsp;</label></td>
                  <td class="loading break-words">
                    {{newAccount.account.secret}}
                    <button mat-icon-button aria-label="Copy Family Seed" (click)="copyFamilySeed()">
                      <mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
                    </button></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><label>Family Seed as QR:&nbsp;</label></td>
                  <td>
                    <img fxShow fxHide.xs width="200px" height="200px" [src]="qrCode">
                    <img fxHide fxShow.xs width="75px" height="75px" [src]="qrCode">
                  </td>
                </tr>
              </table>
              <label class="warning">The QR Code is valid only for scanning from the "Add Account" screen inside the XUMM app!</label>
            </mat-card>
          </div>
          <div style="padding-top: 0.5em;">
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
      </mat-card>
    </mat-step>
  </mat-vertical-stepper>
</mat-expansion-panel>