<mat-expansion-panel>
  <mat-expansion-panel-header data-hide-xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">account_box</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em"> Testnet Account </span>
    </mat-panel-title>
    <mat-panel-description>
      Create a Testnet account to be able to experiment with the XRP Ledger Testnet without risking your real funds
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header data-hide-gt-xs>
    <mat-panel-title>
      <label class="loading">Testnet Account</label>
    </mat-panel-title>
    <mat-panel-description>
      Create Testnet account
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step completed="false" editable="false">
      <ng-template matStepLabel>Description</ng-template>
      <mat-card>
        <div data-layout="column" data-layout-gap="0.5em">
          <a href="https://xrpl.org/xrp-testnet-faucet.html" target="_blank" rel="noreferrer">XRP Ledger Test/Dev Network Documentation</a><br/>
          <label>This guide will walk you through the process of connecting your XUMM app to the XRP Testnet and import a Testnet account.</label><br/>
          <label>Besides the XRP Ledger Mainnet (where all the real transactions happen) there is also a XRP Ledger <b>Testnet</b>.</label>
          <label>The <b>Testnet</b> exists to provide a testing platform for any software products built on the XRP Ledger without using real funds.</label>
          <label>These funds are intended for <b>testing</b> only. The Testnet ledger and balances will be reset approximately every 90 days, or when otherwise necessary.</label>
          <label>Testnet balances are separate. As a precaution, <b>do not use</b> the Testnet credentials on the Mainnet.</label>
          <mat-checkbox [(ngModel)]="checkBoxConsent" [ngClass]="(checkBoxConsent ? 'success': 'warning')">I understand to NOT USE Testnet credentials on the XRP Ledger Mainnet.</mat-checkbox>
          <div style="padding-top: 0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxConsent">Next</button>
          </div>
        </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <ng-template matStepLabel>Switch XUMM to Testnet</ng-template>
      <mat-card>
        <div data-layout="column" data-layout-gap="0.5em">
          <label class="loading">At first you have to switch your XUMM app to connect to the Testnet. Please follow these steps:</label>
          <label>1. Open XUMM and navigate to "Settings"</label>
          <label>2. Click the option "Advanced"</label>
          <label>3. Find the entry "Node" at the top of the options list and select it.</label>
          <label>4. Choose one of the Testnet nodes under "Test net"</label>
          <label>5. Additional info: If you want to switch back to the Mainnet, follow steps 1-3 and then choose one of the Mainnet nodes. It is highly recommended to choose 'wss://xrplcluster.com' OR 'wss://xrpl.ws' for accessing the Mainnet.</label>

          <mat-checkbox [(ngModel)]="checkBoxXummConnected" [ngClass]="(checkBoxXummConnected ? 'success': 'warning')">I have followed the steps. My XUMM app is connected to a Testnet node and I know how to switch back to the Mainnet.</mat-checkbox>
          <div style="padding-top: 0.5em" data-layout="row" data-layout-gap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxXummConnected">Next</button>
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
        </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <ng-template matStepLabel>Prepare XUMM to add an account</ng-template>
      <mat-card>
        <div data-layout="column" data-layout-gap="0.5em">
          <label class="loading">Now we prepare your XUMM app to add a new Testnet account via QR code or Copy & Paste:</label>
          <label>1. Open the XUMM main page and navigate to "Settings"</label>
          <label>2. Click the option "Accounts"</label>
          <label>3. Click the "+ Add Account" button to add a new account.</label>
          <label>4. Choose "Import an existing account"</label>
          <label>5. Choose "Full access" and click "Next"</label>
          <label>6. Choose "Family Seed" and click "Next"</label>
          <label>7. Now you are ready to add a Testnet account. You have two Options:</label>
          <label>8a. If you want to add your Account via QR-Code: click the scanner icon right next to the family seed input.</label>
          <label>8b. If you want to add your Account via copy & paste of the family seed: You are ready. Just proceed to the next step.</label>

          <mat-checkbox [(ngModel)]="checkBoxQrScannerOpened" [ngClass]="(checkBoxQrScannerOpened ? 'success': 'warning')">I have followed the steps and my XUMM app is ready to scan a QR code or insert the family seed via Copy & Paste.</mat-checkbox>
          <div style="padding-top: 0.5em" data-layout="row" data-layout-gap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxQrScannerOpened">Next</button>
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
        </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false" class="final-container">
      <ng-template matStepLabel>Create Testnet credentials</ng-template>
      <mat-card>
        <div data-layout="column" data-layout-gap="0.5em">
          <label>Now you are ready to create your Testnet credentials! Just hit the button below and we will create Testnet credentials for you with a balance of 1000 XRP.</label><br/>
          <div>
            <button mat-raised-button color="primary" (click)="createTestNetCredentials()" [disabled]="!checkBoxConsent || loading">
              {{newAccount ? 'Renew' : 'Create'}} Testnet account
            </button>
          </div>
      
          <div *ngIf="loading" data-layout="row" data-layout-gap="0.5em">
            <label>Creating your testnet account and sending some XRP ...&nbsp;</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </div>

          <div *ngIf="!loading && error" data-layout="row" data-layout-gap="0.5em">
            <label class="warning">{{error}}</label>
          </div>
          
          <div *ngIf="!loading && !error && newAccount && checkBoxConsent" data-layout="column" data-layout-gap="1.5em">
            <label class="loading">Scan the QR code below or Copy & Paste the Family Seed to add your new Testnet account to XUMM and continue to the last step.</label>

            <mat-card data-layout="column" data-layout-gap="0.5em" data-layout-gap-xs="0.3em" style="margin-top: 1em">
              <table style="display: block;">
                <tr>
                  <td><label>Account:&nbsp;</label></td>
                  <td class="loading break-words">{{newAccount.account.address}}</td>
                </tr>
                <tr>
                  <td><label>Balance:&nbsp;</label></td>
                  <td class="loading break-words">{{newAccount.amount}}&nbsp;XRP</td>
                </tr>
                <tr>
                  <td><label>Family Seed:&nbsp;</label></td>
                  <td class="loading break-words">
                    {{newAccount.seed}}
                    <button mat-icon-button aria-label="Copy Family Seed" (click)="copyFamilySeed()">
                      <mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
                    </button></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><label>Family Seed as QR:&nbsp;</label></td>
                  <td>
                    <img data-hide-xs width="200px" height="200px" [src]="qrCode">
                    <img data-hide-gt-xs width="75px" height="75px" [src]="qrCode">
                  </td>
                </tr>
              </table>
              <label class="warning">The QR Code can only be scanned from the "Add Account" screen inside the XUMM app!</label>
            </mat-card>
          </div>
          <mat-checkbox *ngIf="newAccount" [(ngModel)]="checkBoxAccountAdded" [ngClass]="(checkBoxAccountAdded ? 'success': 'warning')" style="padding-top: 1em">I have successfully added the Testnet account in my XUMM app.</mat-checkbox>
          <div style="padding-top: 0.5em" data-layout="row" data-layout-gap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!checkBoxAccountAdded">Next</button>
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
        </div>
      </mat-card>
    </mat-step>
    <mat-step completed="false" editable="false">
      <ng-template matStepLabel>Playing with the Testnet!</ng-template>
      <mat-card>
        <div data-layout="column" data-layout-gap="0.5em">
          <label class="loading">Congratulations! You have successfully connected your XUMM app to the Testnet and added your Testnet account into the XUMM app. Now you are ready to experiment with the <b>Testnet!</b></label><br/>
          <label>The XrplServices website is fully <b>Testnet</b> compatible. We highly recommend to use the "Sign in with XUMM" function to get the full featured experience of the website.</label>
          <label>( And of course, all functions on this website can also be executed against the XRP Ledger Mainnet! )</label>
          <label>You have many options now:</label><br>
          <label class="warning">(Don't forget to change the "XRPL Network" switch to "Test" when your are signed in!)</label>
          <label>1. Go to <a [routerLink]="['/']" target="_blank">XRPL Transactions</a> to execute various XRP Ledger transactions:</label>
          <label style="padding-left: 1em">- create and finish Escrows</label>
          <label style="padding-left: 1em">- change your account settings through the AccountSet transaction</label>
          <label style="padding-left: 1em">- set a RegularKey to your account (second account needed!)</label>
          <label style="padding-left: 1em">- delete your Account</label>
          <label style="padding-left: 1em">- and many more ...</label>
          <label>2. Go to <a [routerLink]="['/tokens']" target="_blank">Easy Tokens!</a> and experiment with XRP Ledger tokens:</label>
          <label style="padding-left: 1em">- create your very own Token on the XRP Ledger (second account needed!)</label>
          <label style="padding-left: 1em">- issue more of your previously created tokens</label>
          <label style="padding-left: 1em">- Info: The "Token List" is not able to load tokens from the Testnet! Sorry!</label>
          <label>3. Go to <a [routerLink]="['/tools']" target="_blank">Tools</a> to:</label>
          <label style="padding-left: 1em">- check your TrustLine settings</label>
          <label style="padding-left: 1em">- send and sign "Raw Transactions" in XUMM (those transactions are not prepared and optimized by our website! You sign what you enter!)</label>
          

          <label class="warning">Don't hestitate to play around and do "crazy stuff"! That's what the Testnet is for. If you locked yourself out of your account, just create a new Testnet account :-)</label>
          <div style="padding-top: 0.5em" data-layout-gap="0.5em">
              <button mat-raised-button (click)="moveBack()">Back</button>
          </div>
        </div>
      </mat-card>
    </mat-step>
  </mat-stepper>
</mat-expansion-panel>