<mat-expansion-panel [disabled]="true">
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">alarm</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Transaction Scheduler </span>
    </mat-panel-title>
    <mat-panel-description>
      Coming soon...
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Transaction Scheduler</label>
    </mat-panel-title>
    <mat-panel-description>
      Coming soon...
    </mat-panel-description>
  </mat-expansion-panel-header>
  
</mat-expansion-panel>