<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">playlist_add_check</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> UNL Signature Checker </span>
    </mat-panel-title>
    <mat-panel-description>
      Checks if an UNL has valid Signatures
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">UNL Checker</label>
    </mat-panel-title>
    <mat-panel-description>
      Checks UNL Signatures
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.3em">
    <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
      <mat-form-field>
        <input #inpunl matInput name="unl" matInput placeholder="URL of the UNL you want to check" [(ngModel)]="unlUrl">
      </mat-form-field>
    </form>

    <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start start" style="padding-top: 0.5em;">
      <button mat-raised-button color="primary" (click)="checkUNL()" [disabled]="loading">Check UNL</button>
      <div *ngIf="loading" fxLayout="row" fxLayoutGap="0.5em">
        <label>Analyzing UNL...&nbsp;</label>
        <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
      </div>
    </div>
  </div>

  <mat-card *ngIf="errors && errors.length > 0" fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.3em" style="margin-top: 1em;">
    <div *ngFor="let error of errors">
      <mat-card fxLayout="column" fxLayoutGap="0.3em">
          <label class="warning">{{error}}</label>
      </mat-card>
    </div>
  </mat-card>

  <mat-card *ngIf="validatorNodes && validatorNodes.length > 0" fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.xs="0.3em" style="margin-top: 1em;">
    <label class="success">UNL checked successfully and signature is valid!</label>
    <div fxLayout="row" fxLayoutGap="0.3em">
      <label class="loading">Master Public Key:</label>
      <label class="break-words">{{unlData.public_key}}</label>
    </div>
    <div fxLayout="row" fxLayoutGap="0.3em">
      <label class="loading">Manifest:</label>
      <label class="break-words">{{unlData.manifest}}</label>
    </div>
    <div fxLayout="row" fxLayoutGap="0.3em">
      <label class="loading">Signature:</label>
      <label class="break-words">{{unlData.signature}}</label>
    </div>
    <div fxLayout="row" fxLayoutGap="0.3em">
      <label class="loading">Version:</label>
      <label class="break-words">{{unlData.version}}</label>
    </div>
    <div fxLayout="column" fxLayoutGap="0.5em">
      <h3>Validators:</h3>
      <div fxLayout="column" fxLayoutGap="0.5em" style="max-width: 100%;">
        <div *ngFor="let validator of validatorNodes">
          <mat-card class="theme-background break-words" fxLayout="column" fxLayoutGap="0.3em">
              <label class="loading">Node Public Key:</label>
              <label> {{validator.node_pub}}</label>
              <label class="loading">Manifest:</label>
              <label> {{validator.manifest}}</label>
              <label class="loading">Domain:</label>
              <label> {{validator.parsedManifest.Domain ? validator.parsedManifest.Domain : '-'}}</label>
              <label class="loading">Validation Public Key:</label>
              <label> {{validator.parsedManifest.PublicKey.toUpperCase()}}</label>
              <label class="loading">Signing Public Key:</label>
              <label> {{validator.parsedManifest.SigningPubKey.toUpperCase()}}</label>
              <label class="loading">Signature:</label>
              <label> {{validator.parsedManifest.Signature.toUpperCase()}}</label>
              <label class="loading">Master Signature:</label>
              <label> {{validator.parsedManifest.MasterSignature.toUpperCase()}}</label>
              <label class="loading">Sequence:</label>
              <label> {{validator.parsedManifest.Sequence}}</label>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</mat-expansion-panel>