<mat-dialog-content class="floatcenter" fxLayout="column" fxLayoutGap="0.5em">
    <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
    <mat-table fxFlex *ngIf="!loading" [dataSource]="escrowData" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="destination" style="width: 70%;">
            <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
            <mat-cell *matCellDef="let escrow"> {{escrow.Destination}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount" style="width: 10%;">
            <mat-header-cell *matHeaderCellDef> Amount in XRP </mat-header-cell>
            <mat-cell *matCellDef="let escrow"> {{getAmountInXRP(escrow.Amount)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="finishafter" style="width: 20%;">
            <mat-header-cell *matHeaderCellDef> Finish After </mat-header-cell>
            <mat-cell *matCellDef="let escrow"> {{getFinishAfterTime(escrow.FinishAfter)}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="escrowSelected(row)"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-dialog-content>