<mat-card appearance="raised" id="footer-row" class="margin-5">
    <div data-layout="row" data-layout-align="start center" data-layout-xs="column" data-layout-align-xs="center center" class="margin-5">
        <a class="footerlink" [routerLink]="['/terms']">Terms & Conditions</a>
        <a class="footerlink" [routerLink]="['/privacy']">Privacy Policy</a>
        <span style="flex: 1 1 auto;"></span>
        <label>v.{{appVersion}} -&nbsp;</label>
        <label>All rights reserved</label>
    </div>
    
</mat-card>
