<mat-card fxFlex fxLayout="row" fxHide.xs id="footer">
    <a class="footerlink" [routerLink]="['/about']">Impressum</a>
    <a class="footerlink" [routerLink]="['/terms']">Terms & Conditions</a>
    <a class="footerlink" [routerLink]="['/privacy']">Privacy Policy</a>
    <span style="flex: 1 1 auto;"></span>
    <span>All rights reserved</span>
</mat-card>
<mat-card fxFlex fxLayout="column" fxHide fxShow.xs class="floatcenter" id="footer">
    <a class="footerlink" [routerLink]="['/about']">Impressum</a>
    <a class="footerlink" [routerLink]="['/terms']">Terms & Conditions</a>
    <a class="footerlink" [routerLink]="['/privacy']">Privacy Policy</a>
    <span style="flex: 1 1 auto;"></span>
    <span>All rights reserved</span>
</mat-card>