.break-words {
    white-space: pre-wrap;
}

@media (max-width:599px) {
    .break-words {
        word-wrap: break-word !important;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}