.break-words {
    white-space: pre-wrap;
}

.mat-dialog-content {
    margin: 0px;
    padding: 0px;
}

@media (max-width:599px) {
    .break-words {
        word-wrap: break-word !important;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-dialog-content {
        font-size: 0.8em;
        
    }
}