<div fxFlex data-layout="column">
  <div data-hide-xs fxFlex data-layout="row">
    <div data-layout-align="center center" style="background-color:#002c85;" class="mat-elevation-z4">
      <a [routerLink]="['/']" data-layout-align="center center">
        <img src="../../assets/topbar_logo.png" width="90px" height="90px" alt="XrplServices Logo" style="margin-right: 0.5em;">
      </a>
    </div>
    <div fxFlex data-layout="column">
      <mat-toolbar data-layout="row" data-layout-xs="column" color="primary" style="background-color:#002c85;" class="mat-elevation-z4">  
        <mat-toolbar-row data-layout="row">
          <div data-layout="row" data-layout-gap="0.3em" style="align-items: center;">
            <a [routerLink]="['/']" data-layout-align="center center" data-layout-gap="1em;" style="text-decoration: none; color: white;">
              <div class="title">{{title}}</div>
            </a>      
          </div>
            <!-- This fills the remaining space of the current row -->
          <span style="flex: 1 1 auto;"></span>
          <div>
            <span data-layout="row" data-layout-align="center center">
              Support this project:&nbsp;
              <button mat-button matTooltip="Send some Love!" matTooltipPosition="below" (click)="supportViaXumm()" style="padding:0px;">
                <img src="../../assets/xummPay.svg" style="width: 150px; height: 45px;" alt="Support via XUMM">
              </button>
            </span>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-toolbar class="mat-elevation-z4 second-toolbar " color="primary" data-layout="row" style="padding-left: 0px" ngStyle.xs="padding:0px; font-size: 0.5em;">
        <!-- normal menu -->
        <div data-hide-xs>
          <button mat-button [routerLink]="['']" matTooltip="XRPL Transactions">
            <i class="material-icons topbar-menu-icon">mobile_friendly</i> XRPL Transactions
          </button>
          <button mat-button [routerLink]="['/tokens']" matTooltip="Issue your own Token!">
            <i class="material-icons topbar-menu-icon">attach_money</i> XRPL Tokens
          </button>
          <button mat-button [routerLink]="['/xls-14d']" matTooltip="View NFTs on the XRPL!">
            <i class="material-icons topbar-menu-icon">token</i> XLS-14D NFTs
          </button>
          <button mat-button [routerLink]="['/tools']" matTooltip="Tools">
            <i class="material-icons topbar-menu-icon">build</i> XRPL Tools
          </button>
          <!--button mat-button [routerLink]="['/generic-backend']" matTooltip="XRPL Services Generic Backend">
            <i class="material-icons topbar-menu-icon">device_hub</i> Generic Backend
          </button-->
          <button mat-button [routerLink]="['/xrpl-statistics']" matTooltip="XRP Ledger Stats">
            <i class="material-icons topbar-menu-icon">analytics</i> XRPL Stats
          </button>
          <button mat-button [routerLink]="['/statistics']" matTooltip="XRPL Services Website Statistics">
            <i class="material-icons topbar-menu-icon">query_stats</i> Website Statistics
          </button>
          <button mat-button [routerLink]="['/nft-api']" matTooltip="XRPL Services NFT API">
            <i class="material-icons topbar-menu-icon">webhook</i> NFT API
          </button>
        </div>

        <span style="flex: 1 1 auto;"></span>

        <button mat-icon-button (click)="toggleDarkTheme()">
          <i class="material-icons topbar-menu-icon">{{isDarkTheme ? 'wb_sunny' : 'nights_stay'}}</i>
        </button>
      </mat-toolbar>
    </div>
  </div>
  <div data-hide-gt-xs fxFlex data-layout="row">
    <div fxFlex data-layout="column">
      <mat-toolbar data-layout="row" data-layout-xs="column" color="primary" style="background-color:#002c85; padding-top: 0.3em;" class="mat-elevation-z4">  
        <mat-toolbar-row data-layout="row">
          <div data-layout="row" data-layout-gap="0.3em" style="align-items: center;">
            <a [routerLink]="['/']" data-layout-align="center center" data-layout-gap="1em;" style="text-decoration: none; color: white;">
              <img src="../../assets/topbar_logo.png" width="50px" height="50px" alt="XrplServices Logo" style="margin-right: 0.5em;">
              <div class="title">{{title}}</div>
            </a>      
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span style="font-size: 0.8em;" data-layout-align="center center">
            Support this project:&nbsp;
            <button mat-button matTooltip="Send some Love!" matTooltipPosition="above" (click)="supportViaXumm()" style="padding:0px;">
              <img src="../../assets/xummPay.svg" style="width: 120px; height: 36px;" alt="Support via XUMM">
            </button>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-toolbar class="mat-elevation-z4 second-toolbar " color="primary" data-layout="row" style="padding-left: 0px" style="padding:0px; font-size: 0.5em;">  
        <!-- Hamburger Menu für mobile! -->
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <i class="material-icons topbar-menu-icon">menu</i>
        </button>
        <mat-menu #appMenu="matMenu" yPosition="below" xPosition="after" data-layout="column">
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['']">
            <mat-icon class="material-icons">mobile_friendly</mat-icon>
            <span>XRPL Transactions</span>
          </button>
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/tokens']">
            <mat-icon class="material-icons">attach_money</mat-icon>
            <span>XRPL Tokens</span>
          </button>
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/xls-14d']">
            <mat-icon class="material-icons">token</mat-icon>
            <span>XLS-14D NFTs</span>
          </button>
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/tools']">
            <mat-icon class="material-icons">build</mat-icon>
            <span>XRPL Tools</span>
          </button>
          <!--button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/generic-backend']" matTooltip="XRPL Services Generic Backend">
            <mat-icon class="material-icons">device_hub</mat-icon>
            <span>Generic Backend</span>
          </button-->
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/xrpl-statistics']">
            <mat-icon class="material-icons">analytics</mat-icon>
            <span>XRPL Statistics</span>
          </button>
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/statistics']">
            <mat-icon class="material-icons">query_stats</mat-icon>
            <span>Website Statistics</span>
          </button>
          <button mat-menu-item [ngStyle]="{'color': isDarkTheme?'white':'black' }" [routerLink]="['/nft-api']">
            <mat-icon class="material-icons">webhook</mat-icon>
            <span>NFT API</span>
          </button>
        </mat-menu>
  
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button (click)="toggleDarkTheme()">
          <i class="material-icons topbar-menu-icon">{{isDarkTheme ? 'wb_sunny' : 'nights_stay'}}</i>
        </button>
      </mat-toolbar>
    </div>
  </div>

  <mat-toolbar *ngIf="!loadingBackend && !backendAvailable" class="warning-background" data-layout="row" data-layout-align="center center" ngStyle.xs="padding:0px; font-size: 0.9em; white-space: pre-wrap;">
    <label>Maintenance currently ongoing. Please be patient! Thank you for your understanding!</label>
  </mat-toolbar>
</div>