<mat-dialog-content class="floatcenter" data-layout="column" data-layout-gap="0.5em">
    <div *ngIf="loading && !showError && !waitingForPayment" data-layout="column" class="floatcenter" style="width:300px; height: 200px;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="!loading && !showError && waitingForPayment" data-layout="column" data-layout-gap="1.5em">
        <div *ngIf="qrLink" data-layout="column" data-layout-gap="0.5em" class="floatcenter">
            <span>Scan QR code to Login. Sign the XUMM request with the account you want to login with:</span>
            <mat-progress-spinner *ngIf="!showQR" color="primary" mode="indeterminate"></mat-progress-spinner>
            <img (load)="QRLoaded()" [src]="qrLink" width="150" height="150" style="vertical-align: middle;" alt="">
            <span *ngIf="showQR">Alternatively click the following link: <a [href]="payloadLink">Open in XUMM</a></span>
        </div>
        <div class="floatcenter" data-layout="column" data-layout-gap="0.5em">
            <span>Waiting for transaction confirmation...</span>
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
            <span style="flex: 1 1 auto;"></span>
        </div>
        <div class="floatcenter">
            <button mat-button class="theme-background" matTooltip="Cancel" matTooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                <b>Cancel </b>
                <i class="material-icons" style="color: red">
                    cancel
                </i>
            </button>
        </div>
    </div>
    <div *ngIf="showError && !waitingForPayment && !loading" class="floatcenter" data-layout="column" data-layout-gap="0.5em">
        <div *ngIf="!requestExpired && backendNotAvailable" style="color: red;">
            {{backendErrorMessage}}
        </div>
        <div *ngIf="!requestExpired && !backendNotAvailable" style="color: red;">
            Sorry, your transaction could not be verified. Please reload the page and try again!
        </div>
        <div *ngIf="requestExpired && !backendNotAvailable" style="color: red;">
            Sorry, your request has been expired. Please reload the page and try again!
        </div>
        <div>
            <mat-dialog-actions>
                <button mat-button mat-dialog-close class="theme-background" matTooltip="Close" matTooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                    <b>Close </b>
                    <i class="material-icons">
                        cancel
                    </i>
                </button>
            </mat-dialog-actions>
        </div>
    </div>

    <div *ngIf="transactionSigned" class="floatcenter">
        <div>
            <i class="material-icons" style="color: green; font-size: 3em;">
                check_circle_outline
            </i>
        </div>
        <div>
            <h4 style="color: green;">Successfully logged in!</h4>
            <br><br>You will be redirected back shortly.
        </div>
    </div>
</mat-dialog-content>