<div *ngIf="loading" data-layout="row" data-layout-align="start center">
    <label>Loading TrustLines ...&nbsp;</label>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
</div>
<label style="color: darkorange" *ngIf="!loading && issuerAccount && recipientAccount && recipientAccountNotFound">The recipient account does not exist on the XRP Ledger {{testMode?'TEST':'MAIN'}}net!</label>
<label style="color: darkorange" *ngIf="!loading && issuerAccount && recipientAccount && !recipientAccountNotFound && (!trustLines || trustLines.length < 1)">The recipient does not have a TrustLine with the iusser on the XRP Ledger {{testMode?'TEST':'MAIN'}} net!</label>
<mat-accordion *ngIf="!loading && trustLines && trustLines.length > 0" data-layout-gap="0.5em" style="padding-top: 0.5em;">
    <mat-expansion-panel #mep>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Show TrustLines of signed in account
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="trustLines" class="mat-elevation-z8">

            <ng-container matColumnDef="currency">
                <mat-header-cell *matHeaderCellDef> Token Currency Code </mat-header-cell>
                <mat-cell *matCellDef="let trustline">
                    <span data-hide-xs > {{getCurrencyCode(trustline.currency)}}</span>
                    <span data-hide-gt-xs ><b>Token Currency Code:</b>&nbsp;{{getCurrencyCode(trustline.currency)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="account">
                <mat-header-cell *matHeaderCellDef> Issuer </mat-header-cell>
                <mat-cell *matCellDef="let trustline">
                    <span data-hide-xs > {{trustline.account}}</span>
                    <span data-hide-gt-xs ><b>Issuer:</b><br>{{trustline.account}}</span>
                </mat-cell>
            </ng-container>            

            <ng-container matColumnDef="balance">
                <mat-header-cell *matHeaderCellDef> Balance of this TrustLine </mat-header-cell>
                <mat-cell *matCellDef="let trustline">
                    <span data-hide-xs > {{stringToFloat(trustline.balance)}}</span>
                    <span data-hide-gt-xs ><b>Balance:</b>&nbsp;{{stringToFloat(trustline.balance)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="limit">
                <mat-header-cell *matHeaderCellDef > Limit of this TrustLine </mat-header-cell>
                <mat-cell *matCellDef="let trustline">
                    <span data-hide-xs >{{stringToFloat(trustline.limit)}}</span>
                    <span data-hide-gt-xs ><b>Limit:</b>&nbsp;{{stringToFloat(trustline.limit)}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="info">
                <mat-header-cell *matHeaderCellDef > Info </mat-header-cell>
                <mat-cell *matCellDef="let trustline">
                    <div *ngIf="trustline.limitN <= trustline.balanceN" data-layout="row" data-layout-align="start center">
                        <span data-hide-xs data-layout="row" data-layout-align="start center" ><mat-icon class="warning">warning</mat-icon>&nbsp;The TrustLine does not have enough limit to issue more tokens. Please ask the recipient to increase the limit.</span>
                        <span data-hide-gt-xs data-layout="row" data-layout-align="start center"><b>Info:</b>&nbsp;<mat-icon class="warning">warning</mat-icon>&nbsp;The TrustLine does not have enough limit to issue more tokens. Please ask the recipient to increase the limit.</span>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row data-hide-xs *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row data-layout-xs="column" *matRowDef="let row; columns: displayedColumns;" (click)="selectTrustLine(row)"></mat-row>

        </mat-table>
</mat-expansion-panel>
