<mat-card fxFlex fxLayout="column" fxLayoutGap="0.2em" class="margin-5">
    <mat-vertical-stepper linear #stepper>
        <mat-step [editable]="currentStep>0">
            <mat-card fxLayout="column" fxLayoutGap="0.5em">
                <ng-template matStepLabel>Description</ng-template>
                <label>Easy-IOU is probably the most simpliest way to issue your own currency on the XRP Ledger.</label>
                <label>From 'beer-token' over 'toilet-paper-token' (TPT), everything is possible!</label><br/><br/>

                <label class="account-warning">We will charge you 5 XRP for this service.</label>
                <label>Additionally a new trust line for your IOU will be created. This adds 5 XRP to your accounts reserve.</label>
                <label>So please make sure you have at least 30 XRP (+ some Drops for fees) in your account!</label><br/>
                
                <label class="account-loading">Once 5 XRP was paid, the payment for this account is valid for 24h. So you have 24h to finish creating your IOU. After 24h you would need to pay again.</label><br/><br/>

                <label>Click 'next' and follow the instructions if you are ready and you know what your are doing!</label>
                <div style="padding-top: 0.5em;">
                    <button mat-raised-button color="primary" matStepperNext (click)="currentStep = currentStep+1">Next</button>
                </div>
            </mat-card>
        </mat-step>
        <mat-step [editable]="currentStep>1">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <div fxLayout="row" fxLayoutGap="0.5em">
              <div fxLayout="column" fxLayoutGap="0.5em">
                <ng-template matStepLabel>Select the network</ng-template>
                <label class="account-loading">Do you want to issue an IOU on the live network or test network?</label>
                <div fxLayout="row" fxLayoutGap="0.5em">
                  <mat-card class="theme-background">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <label>Network</label>
                        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5em;">
                          <label>Live</label>&nbsp;
                          <mat-slide-toggle [(ngModel)]="isTestMode" [checked]="isTestMode" aria-label="Switch networks"></mat-slide-toggle>&nbsp;
                          <label>Test</label>
                        </div>
                    </div>
                  </mat-card>
                  <span style="flex: 1 1 auto;"></span>
                </div>
                <label>If you want to issue on the test net, the 5 XRP payment can be done on the test net as well!</label>
              </div>
              <span style="flex: 1 1 auto;"></span>
            </div>
            <div fxLayout="row">
              <button mat-raised-button color="primary" matStepperNext (click)="currentStep = currentStep+1">Next</button>
              <span style="flex: 1 1 auto;"></span>
            </div>
          </mat-card>
        </mat-step>
        <mat-step [editable]="currentStep>2">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
              <ng-template matStepLabel>Requirements</ng-template>
              <label class="account-warning">The following requirements need to be met to create your IOU.</label>
              <label>Please accept every checkbox to make sure you are good to go!</label><br/><br/>
              <mat-checkbox [(ngModel)]="checkBoxTwoAccounts">You have the keys of two accounts. One for issuing and one for receiving your IOU.</mat-checkbox>
              <mat-checkbox [(ngModel)]="checkBoxFiveXrp">You accept paying 5 XRP for this service, helping you issue your own IOU.</mat-checkbox>
              <mat-checkbox [(ngModel)]="checkBoxSufficientFunds">The issuer account needs to have enough funds.</mat-checkbox>

              <div style="padding-top: 0.5em;">
                  <button mat-raised-button color="primary" matStepperNext [disabled]="!checkBoxTwoAccounts || !checkBoxFiveXrp || !checkBoxSufficientFunds" (click)="currentStep = currentStep+1">Next</button>
              </div>
          </mat-card>
        </mat-step>
        <mat-step [editable]="currentStep>3">
          <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Issuer account</ng-template>
            <label class="account-loading">What is the XRP Ledger account which will be issuing your tokens?</label>
            <label>You need to pay or sign in with the account you want to issue your IOU from.</label>
            <div *ngIf="!loadingIssuerAccount" fxLayout="column" fxLayoutGap="0.5em">
              <div  style="padding-top: 0.5em;" *ngIf="!getIssuer() || !validIssuer || paymentNotSuccessfull || paymentNotFound">
                <button mat-button matTooltip="Pay for your IOU via XUMM." matTooltipPosition="above" (click)="payForIOU()" style="padding:0px;">
                  <img src="../../assets/xummPay.svg" style="width: 148px; height: 40px;" alt="Pay via XUMM">
                </button>
                &nbsp;<label class="account-warning">Make a 5 XRP payment if you haven't paid withing the last 24h.</label>
              </div>
              <div *ngIf="!getIssuer() || !validIssuer || paymentNotSuccessfull || paymentNotFound">
                <button mat-button matTooltip="SignIn via XUMM." matTooltipPosition="above" (click)="loginForIOU()" style="padding:0px;">
                  <img src="../../assets/xummSignIn.svg" style="width: 230px; height: 40px;" alt="SignIn via XUMM">
                </button>
                &nbsp;<label class="account-loading">Sign in with the account you have paid with in the last 24h.</label>
              </div>
              
              <mat-hint *ngIf="paymentNotSuccessfull" style="padding-top: 0.5em;">You payment was not successfull on the XRP Ledger live net.</mat-hint>
              <mat-hint *ngIf="paymentNotFound" style="padding-top: 0.5em;">No valid payment found for account {{getIssuer()}} withing the last 24h.</mat-hint>

              <div fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;" *ngIf="getIssuer() && validIssuer && !paymentNotSuccessfull && !paymentNotFound">
                <label>The account you want to issue an IOU with is: </label>
                <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
                  <label class="account-warning">{{getIssuer()}}</label>
                  <button mat-icon-button (click)="clearIssuerAccount()" aria-label="Clear Issuer Account">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <mat-progress-spinner *ngIf="loadingIssuerAccount" color="primary" mode="indeterminate"></mat-progress-spinner>
            <div>
                <button mat-raised-button color="primary" matStepperNext [disabled]="!getIssuer() || !validIssuer || paymentNotSuccessfull || paymentNotFound" (click)="currentStep = currentStep+1">Next</button>
            </div>
          </mat-card>
        </mat-step>
        <mat-step [editable]="validIssuer && !paymentNotSuccessfull && !paymentNotFound && currentStep>4">
          <div fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Set DefaultRipple</ng-template>
            <div *ngIf="needDefaultRipple" fxLayout="column" fxLayoutGap="0.5em">
              <label>We need to set the DefaultRipple flag to your account.</label>
              <label>This allows you and others to send your IOU through the XRP Ledger.</label>
              <div>
                <button mat-raised-button color="primary" (click)="sendDefaultRipple()">
                  Set DefaultRipple via XUMM
                </button>
                <span style="flex: 1 1 auto;"></span>
              </div>
            </div>
            <div *ngIf="!needDefaultRipple" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
              <i class="material-icons" style="color: green; font-size: 3em;">
                  check_circle_outline
              </i>
              You have the DefaultRipple flag set to your account! We are good to go!
            </div>
            <div>
              <button mat-raised-button color="primary" matStepperNext [disabled]="needDefaultRipple" (click)="currentStep = currentStep+1">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step [editable]="currentStep>5">
          <ng-template matStepLabel>Set trustline from recipient</ng-template>
          <label>We have to set a trustline from the IOU recipient to the issuer account: {{getIssuer()}}</label>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
</mat-card>
