<mat-card *ngIf="loading" class="margin-5" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center">
        <h3 class="right-label-stats">Loading Data ...</h3>
        <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
    </div>
</mat-card>

<mat-card *ngIf="!loading && tooManyRequests" class="margin-5" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center">
        <h3 class="right-label-stats" style="text-align: center;">Too many requests. Please try again later!</h3>
    </div>
</mat-card>

<mat-card *ngIf="generalStats && !loading && !tooManyRequests" class="margin-5" style="display:flex; flex-wrap: wrap;">

    <mat-card class="stats-component">
        <h3>General XRPL Statistics</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Ledger Index:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(generalStats.ledger_index)}}</label>
            </div>
            <div fxLayout="row">
                <label>Ledger Close Time:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{generalStats.ledger_close}}</label>
            </div>
            <div fxLayout="row">
                <label>Ledger Size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(generalStats.ledger_size / 1000 / 1024, 100))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>Total # of Object:</label>
                <span style="flex: 1 1 auto;"></span>
          <label class="right-label-stats">{{totalNumberOfObjects}}</label>
            </div>
            <div fxLayout="row">
                <label>Total XRP:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber((accountrootStats.special_data.BalanceValueTotal + escrowStats.special_data.AmountValueTotal) / 1000000,1))}} XRP</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Accounts</h3>
        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(accountrootStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(accountrootStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(accountrootStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Message Key:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.property_count.MessageKey)}}</label>
            </div>
            <div fxLayout="row">
                <label>Regular Key:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.property_count.RegularKey)}}</label>
            </div>
            <div fxLayout="row">
                <label>Domain:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.property_count.Domain)}}</label>
            </div>
            <div fxLayout="row">
                <label>Email Hash:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.property_count.EmailHash)}}</label>
            </div>
            <div fxLayout="row">
                <label>Ticket:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.property_count.TicketCount)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Accounts Additional</h3>
        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>With 0 Balance:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.count - accountrootStats.special_data.BalanceNotZero)}}</label>
            </div>
            <div fxLayout="row">
                <label>Total XRP in Accounts:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber((accountrootStats.special_data.BalanceValueTotal) / 1000000,1))}} XRP</label>
            </div>
            <div fxLayout="row">
                <label>Total Account Reserves:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.count * 10)}} XRP</label>
            </div>
            <div fxLayout="row">
                <label>Total Owner Reserves:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.special_data.OwnerCountTotal * 2)}} XRP</label>
            </div>
            <div fxLayout="row">
                <label>Require DestinationTag:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.flags.lsfRequireDestTag)}}</label>
            </div>
            <div fxLayout="row">
                <label>Disabled Masterkey:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.flags.lsfDisableMaster)}}</label>
            </div>
            <div fxLayout="row">
                <label>Default Ripple:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.flags.lsfDefaultRipple)}}</label>
            </div>
            <div fxLayout="row">
                <label>Global Freeze:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(accountrootStats.flags.lsfGlobalFreeze)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Trustlines (RippleState)</h3>
        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(ripplestateStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(ripplestateStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(ripplestateStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(ripplestateStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Balance greater 0:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(ripplestateStats.special_data.BalanceNotZero)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Escrows</h3>
        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(escrowStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(escrowStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(escrowStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(escrowStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total XRP in Escrow:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber((escrowStats.special_data.AmountValueTotal) / 1000000,1))}} XRP</label>
            </div>
            <div fxLayout="row">
                <label>With Condition:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(escrowStats.property_count.Condition)}}</label>
            </div>
            <div fxLayout="row">
                <label>With Cancel Date:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(escrowStats.property_count.CancelAfter)}}</label>
            </div>
            <div fxLayout="row">
                <label>With DestinationTag:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(escrowStats.property_count.DestinationTag)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Offers</h3>
        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(offerStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(offerStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(offerStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(offerStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>With Expiration Date:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(offerStats.property_count.Expiration)}}</label>
            </div>
            <div fxLayout="row">
                <label>Sell Offers:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(offerStats.flags.lsfSell)}}</label>
            </div>
            <div fxLayout="row">
                <label>Passive Offers:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(offerStats.flags.lsfPassive)}}</label>
            </div>
            <div fxLayout="row">
                <label>XRP offered on DEX:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(offerStats.special_data.XrpTotal / 1000000,1))}} XRP</label>
            </div>
            <div>
                <label class="warning">(NOT ALL OFFERS ARE FUNDED!)</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Signer Lists</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(signerlistStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(signerlistStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(signerlistStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(signerlistStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>OneOwnerCount Flag:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(signerlistStats.flags.lsfOneOwnerCount)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Payment Channels</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(paychannelStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(paychannelStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(paychannelStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(paychannelStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>OneOwnerCount Flag:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(signerlistStats.flags.lsfOneOwnerCount)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Tickets</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(ticketStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(ticketStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(ticketStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(ticketStats.percentage, 100)}} %</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Checks</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(checkStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(checkStats.count * 100 / totalNumberOfObjects, 10000)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(checkStats.size / 1000 / 1024, 1000))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(checkStats.percentage, 100000)}} %</label>
            </div>
            <div fxLayout="row">
                <label>SendMax Total in XRP:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(checkStats.special_data.SendMaxValueTotal / 1000000,1))}} XRP</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Deposit Preauth</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(depositpreauthStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(depositpreauthStats.count * 100 / totalNumberOfObjects, 10000)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(depositpreauthStats.size / 1000 / 1024, 1000))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(depositpreauthStats.percentage, 1000000)}} %</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Directory Nodes</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(directorynodeStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(directorynodeStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(directorynodeStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(directorynodeStats.percentage, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Owner Directories:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(directorynodeStats.property_count.Owner)}}</label>
            </div>
            <div fxLayout="row">
                <label>Offer Directories:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(directorynodeStats.property_count.ExchangeRate)}}</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Ledger Hashes Objects</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(ledgerhashesStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(ledgerhashesStats.count * 100 / totalNumberOfObjects, 100)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(roundNumber(ledgerhashesStats.size / 1000 / 1024, 10))}} MB</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(ledgerhashesStats.percentage, 100)}} %</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Fee Settings Objects</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(feesettingsStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(feesettingsStats.count * 100 / totalNumberOfObjects, 100000)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(feesettingsStats.size)}} Bytes</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(feesettingsStats.percentage, 1000000)}} %</label>
            </div>
        </div>
    </mat-card>

    <mat-card class="stats-component">
        <h3>Amendment Objects</h3>

        <div fxLayout="column" fxLayoutGap="0.3em">
            <div fxLayout="row">
                <label>Count:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(amendmentsStats.count)}}</label>
            </div>
            <div fxLayout="row">
                <label>% of total Objects:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(amendmentsStats.count * 100 / totalNumberOfObjects, 100000)}} %</label>
            </div>
            <div fxLayout="row">
                <label>Total size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{numberWithCommas(amendmentsStats.size)}} Bytes</label>
            </div>
            <div fxLayout="row">
                <label>% of total Ledger size:</label>
                <span style="flex: 1 1 auto;"></span>
                <label class="right-label-stats">{{roundNumber(amendmentsStats.percentage, 100000)}} %</label>
            </div>
        </div>
    </mat-card>

</mat-card>
