<mat-card fxFlex fxLayout="column" fxLayoutGap="0.1em">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.3em" style="align-items: center;">
        <button *ngIf="!xrplAccount" mat-button class="sign-in-button" matTooltip="Login with Xumm to load your account data." matTooltipPosition="below" (click)="openSignInDialog()">
            <img src="../../assets/xummSignIn.svg" style="width: 230px; height: 40px;"  alt="Login with Xumm">
        </button>
        <div style="padding-left: 25px; padding-right: 25px;" *ngIf="!xrplAccount">Login with Xumm to load your account data.</div>
        <button *ngIf="xrplAccount" mat-raised-button color="primary" matTooltip="Logout" matTooltipPosition="below" (click)="logoutAccount()">
            Logout
        </button>
        <div style="padding-left: 25px; padding-right: 25px;" *ngIf="xrplAccount" fxLayout="row" fxLayout.xs="column" class="floatcenter" fxLayoutGap="0.3em">
            <label fxHide.xs>You are currently logged in with the XRPL account:</label>
            <b> {{xrplAccount}} </b>
            <label fxHide.xs>and balance:</label>
            <b> {{getAccountBalance()}} XRP. </b></div>
        <span style="flex: 1 1 auto;"></span>
        <mat-slide-toggle [(ngModel)]="isTestMode" [checked]="isTestMode" (change)="loadAccountData()">{{!isTestMode ? 'Live net' : 'Test net'}}</mat-slide-toggle>
    </div>
    <div class="floatcenter">
        <label *ngIf="isTestMode" style="color: crimson"><b>You are connected to the <b>Test</b> net.</b></label>
        <label *ngIf="!isTestMode" style="color: green"><b>You are connected to the <b>Live</b> net.</b></label>
    </div>
    <div *ngIf="lastTrxLink">
        View your transaction on the XRPL ledger:
        <a [href]="lastTrxLink" target="_blank;">XRPL Account link</a>
    </div>
    <mat-card style="padding-top: 2em;">
        <mat-accordion fxLayout="column" fxLayoutGap="0.5em">
            <accountset [accountInfoChanged]="accountInfoChanged.asObservable()" (onPayload)="onPayloadReceived($event)"></accountset>
            <escrowcreate (onPayload)="onPayloadReceived($event)"></escrowcreate>
        </mat-accordion>
    </mat-card>
</mat-card>
