<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <mat-icon style="transform: scale(0.9);">settings</mat-icon> &nbsp; Account Set
    </mat-panel-title>
    <mat-panel-description>
      You can change your XRPL account settings here.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      Account Set
    </mat-panel-title>
    <mat-panel-description>
      Change settings.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <a href="https://xrpl.org/accountset.html" target="_blank">AccountSet Documentation</a>
  <form fxLayout="column" fxLayoutGap="0.5em" style="padding-bottom: 1em;padding-top: 1em;">
    <mat-form-field>
      <input #inpdomain matInput type="url" name="domain" matInput placeholder="Domain" [(ngModel)]="domainInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="domainChangeDetected && !validDomain" style="color: crimson;">Not a valid domain</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input #inpemail matInput type="email" name="email" matInput placeholder="Email (cannot be displayed, only changed)" [(ngModel)]="emailInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="emailChangeDetected && !validEmail" style="color: crimson;">Not a valid email</mat-hint>
    </mat-form-field>
    <div *ngIf="originalAccountInfo && originalAccountInfo.EmailHash && originalAccountInfo.urlgravatar" fxLayout="column">
      <label >Your current <a href="https://en.gravatar.com/support/what-is-gravatar/" target="_blank">Gravatar</a> URL: </label>
      <a fxShow fxHide.xs href="{{originalAccountInfo.urlgravatar}}.replace('http','https')" target="_blank">
        {{originalAccountInfo.urlgravatar}}
      </a>
      <a fxShow.xs fxHide href="{{originalAccountInfo.urlgravatar}}.replace('http','https')" target="_blank">
        Gravatar Link
      </a>
    </div>
    <mat-card fxLayout="column">
      <h3><b>Account Flags:</b></h3>
      <div fxLayout="column">
        <mat-checkbox name="requireDestTag" style="padding-top: 1em;" [(ngModel)]="requireDestTagInput" (change)="checkChanges()">Require Destination Tag</mat-checkbox>
        <mat-hint *ngIf="!(requireDestTagChangeDetected && disableMasterKeyChangeDetected) && requireDestTagChangeDetected && requireDestTagInput" style="color: crimson;">Attention! Transactions without <b>Destination Tag</b> will be rejected!</mat-hint>
        <mat-hint *ngIf="!(requireDestTagChangeDetected && disableMasterKeyChangeDetected) && requireDestTagChangeDetected && !requireDestTagInput" style="color: crimson;">Attention! Users are able to send transactions without <b>Destination Tag</b>!</mat-hint>
      </div>
      <div fxLayout="column">
        <mat-checkbox name="disableMasterkey" style="padding-top: 1em;" [(ngModel)]="disableMasterKeyInput" (change)="checkChanges()" [disabled]="originalAccountInfo && !originalAccountInfo.RegularKey && (!originalAccountObjects || !originalAccountObjects[0])">Disable Master Key</mat-checkbox>
        <mat-hint *ngIf="originalAccountInfo && !originalAccountInfo.RegularKey">Befor you can disable your <b>Master Key</b> you have to set an alternative signing method first! (Regular Key or SignerList)</mat-hint>
        <mat-hint *ngIf="!(requireDestTagChangeDetected && disableMasterKeyChangeDetected) && disableMasterKeyChangeDetected && disableMasterKeyInput" style="color: crimson;">Attention! You are going to disable the <b>Master Key</b> of your account. You could loose access to your account. Make sure you know what you are doing!</mat-hint>
        <mat-hint *ngIf="!(requireDestTagChangeDetected && disableMasterKeyChangeDetected) && disableMasterKeyChangeDetected && !disableMasterKeyInput" style="color: crimson;">Attention! You are going to reactivate your <b>Master Key</b>! If it was compromised, attackers have the possibility back to steal your funds!</mat-hint>
      </div>
  </mat-card>
  <mat-hint *ngIf="requireDestTagChangeDetected && disableMasterKeyChangeDetected" style="color: orangered">You can change only one Account Flag at a time. To change two account flags, you have to execute two transactions.</mat-hint>
  </form>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5em">
    <button mat-raised-button color="primary" (click)="sendToXumm()" [disabled]="!isValidAccountSet">
      Send Account Settings to Xumm
    </button>
    <button mat-raised-button color="primary" (click)="deleteDomain()" matTooltip="{{originalAccountInfo && originalAccountInfo.Domain ? 'Delete Domain: ' : 'Delete Domain'}}{{hexToString(originalAccountInfo && originalAccountInfo.Domain)}}" [disabled]="originalAccountInfo && !originalAccountInfo.Domain">
      Delete Domain
    </button>
    <button mat-raised-button color="primary" (click)="deleteEmailHash()" matTooltip="Delete Email Hash!" [disabled]="originalAccountInfo && !originalAccountInfo.EmailHash">
      Delete EmailHash
    </button>
  </div>
</mat-expansion-panel>