<mat-expansion-panel [disabled]="originalAccountInfo && originalAccountInfo.error">
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">delete</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Account Delete </span>
    </mat-panel-title>
    <mat-panel-description>
      Delete your XRP Ledger account to get back {{(accountReserve-ownerReserve-2000000)/1000000}} XRP of the wallet reserve.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Account Delete</label>
    </mat-panel-title>
    <mat-panel-description>
      Delete your XRPL account
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutGap="0.3em">
    <a href="https://xrpl.org/accountdelete.html" target="_blank" rel="noreferrer">Account Delete Documentation</a>
    <label>An AccountDelete transaction deletes an account and any objects it owns in the XRP Ledger, if possible, sending the account's remaining XRP to a specified destination account.</label>
    <label>The transaction cost to execute this transaction is {{ownerReserve/1000000}} XRP! This is a requirement of the XRP Ledger. The {{ownerReserve/1000000}} XRP will be burnt in the process to execute this transaction.</label>
    <div *ngIf="loadingPreconditions" fxLayout="row" fxLayoutGap="0.3em">
      <label>Checking if your logged in account can be deleted... </label>
      <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
    </div>
    <div *ngIf="!loadingPreconditions && !preconditionsFullFilled" fxLayout="column" fxLayoutGap="0.3em">
      <mat-card fxLayout="column" fxLayoutGap="0.3em">
        <label class="loading" style="white-space: pre-wrap;"><b>ACCOUNT DELETION NOT POSSIBLE!</b></label>
        <label class="warning" style="white-space: pre-wrap;">{{this.errorMsg}}</label>
        <label>You can view the AccountDelete requirements <a href="https://xrpl.org/accounts.html#deletion-of-accounts" target="_blank">here.</a></label>
      </mat-card>
    </div>
    <form *ngIf="!loadingPreconditions && preconditionsFullFilled" fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
      <label class="warning">ATTENTION: Please do not use an exchange account or other custodial wallet as destination address! YOU MAY LOSE YOUR FUNDS!</label>
      <mat-form-field>
        <input #inpdestinationaccount matInput name="destinationaccount" ngStyle.xs="font-size: 0.8em;" placeholder="XRPL address where remaining XRP should be sent to" [(ngModel)]="destinationAccountInput" (ngModelChange)="checkChanges()" [disabled]="loadingDestinationAccount">
        <mat-hint *ngIf="destinationAccountInput && !validDestinationAddress">Not a valid XRPL address</mat-hint>
        <mat-hint *ngIf="originalAccountInfo && destinationAccountInput && destinationAccountInput == originalAccountInfo.Account">You cannot set the Destination address to the logged in address.</mat-hint>
        <mat-hint *ngIf="destinationAccountInput && validDestinationAddress && !destinationAccountExists && !loadingDestinationAccount">This account does not exist on the XRP Ledger {{isTestMode? 'TEST' : 'MAIN'}} net. You need to activate it first with {{accountReserve}} XRP.</mat-hint>
      </mat-form-field>
      <div *ngIf="loadingDestinationAccount" fxLayout="row" fxLayoutGap="0.3em">
        <label>Loading destination account...</label>
        <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
      </div>
      <mat-form-field>
        <input #inpdestinationtag matInput name="destinationtag" ngStyle.xs="font-size: 0.8em;" placeholder="Destination Tag for the XRPL address (optional)" [(ngModel)]="destinationTagInput" (ngModelChange)="checkChanges()" [disabled]="loadingDestinationAccount">
        <mat-hint *ngIf="destinationTagInput && !validTag">Not a valid Destination Tag. Only whole numbers between 0 and 4294967295 allowed!</mat-hint>
      </mat-form-field>
      <label *ngIf="originalAccountInfo && originalAccountInfo.Balance && destinationAccountInput" class="loading">Your account balance is: {{getAccountBalance()}} XRP. {{(ownerReserve+2000000)/1000000}} XRP will be burnt in transaction fee, so {{getTransferBalance()}} XRP will be sent to '{{destinationAccountInput.trim()}}'.</label>
    </form>
    <div *ngIf="preconditionsFullFilled" fxLayout="column" style="padding-top: 2em;">
      <mat-card style="background-color: #fd0707;">
        <mat-checkbox [(ngModel)]="checkBoxElevatedFees" [disabled]="!preconditionsFullFilled" style="color: black; font-weight: bold;">DUE TO ELEVATED FEES ON THE XRP LEDGER, IT IS CURRENTLY NOT POSSIBLE TO DELETE AN ACCOUNT WITH A FEE OF 2 XRP! TO BE ABLE TO DELETE YOUR ACCOUNT, YOU NEED TO PAY A FEE (WHICH GETS BURNT!!!) OF AT LEAST 4 XRP. PLEASE CHECK THIS BOX IF YOU STILL WANT TO CONTINUE</mat-checkbox>
      </mat-card>
    </div>
    <div *ngIf="checkBoxElevatedFees">
      <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
        <mat-form-field>
          <input matInput name="iAgreeInput" ngStyle.xs="font-size: 0.8em;" placeholder="Please confirm by writing 'I understand the above message'" [(ngModel)]="iAgreeInput" (ngModelChange)="checkChanges()" [disabled]="loadingDestinationAccount">
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="checkBoxElevatedFees && iAgreeInputValid" fxLayout="column" style="padding-top: 2em;">
      <mat-checkbox [(ngModel)]="checkBoxHint" [disabled]="!preconditionsFullFilled || !checkBoxElevatedFees" [ngClass]="(checkBoxHint ? 'success': 'warning')">I understand to NOT use an exchange or other custodial wallet as destination account because I might lose my funds!</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start" fxLayoutGap="0.5em">
      <div fxLayout="column">
        <button mat-raised-button color="primary" (click)="sendPayloadToXumm()" [disabled]="!checkBoxHint || !validDestinationAddress || loadingDestinationAccount || !destinationAccountExists || (destinationTagInput && !validTag) || (originalAccountInfo && (originalAccountInfo.error || (destinationTagInput && destinationTagInput.trim() === originalAccountInfo.Account)))">
          Send Account Delete to XUMM
        </button>
        <mat-hint *ngIf="!checkBoxHint && validDestinationAddress && !loadingDestinationAccount && destinationAccountExists && (!destinationTagInput || validTag) && (!originalAccountInfo || (originalAccountInfo && (!originalAccountInfo.error && (!destinationTagInput || destinationTagInput.trim() != originalAccountInfo.Account))))">Please confirm the checkbox above.</mat-hint>
      </div>
    </div>
  </div>
</mat-expansion-panel>