<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <mat-icon style="transform: scale(0.9);">cancel</mat-icon> &nbsp; Escrow Cancel
    </mat-panel-title>
    <mat-panel-description>
      Cancel an Excrow to return the funds back to the Escrow Owner Account.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header  fxShow.xs fxHide>
    <mat-panel-title>
      Escrow Cancel
    </mat-panel-title>
    <mat-panel-description>
     Cancel an Escrow.
    </mat-panel-description>
  </mat-expansion-panel-header>

  <a href="https://xrpl.org/escrowcancel.html" target="_blank" rel="noreferrer">Escrow Cancel Documentation</a><br/>
  <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;padding-top: 1em;">
    <mat-form-field>
      <input #inpescrowowner matInput name="escrowowner" matInput placeholder="XRPL address which owns the Escrow" [(ngModel)]="escrowOwnerInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="escrowOwnerInput && !validAddress" style="color: crimson;">Not a valid XRPL address</mat-hint>
    </mat-form-field>
    <div>
      <escrowList [escrowAccountChanged]="escrowAccountChanged.asObservable()" (escrowSequenceFound)="onEscrowSequenceFound($event)" [testMode]="testMode" [isCancel]="true"></escrowList>
    </div>
    <mat-form-field [ngClass]="{'changed': escrowSequenceSelected}">
      <input #inpescrowsequence matInput name="escrowsequence" min="0" matInput placeholder="Escrow Sequence Number" [(ngModel)]="escrowSequenceInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="escrowSequenceInput && !validSequence" style="color: crimson;">Not a valid Escrow Sequence</mat-hint>
    </mat-form-field>
  </form>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="start start" fxLayoutGap="0.5em" style="padding-top: 2em;">
    <button mat-raised-button color="primary" (click)="sendPayloadToXumm()" [disabled]="!isValidEscrowCancel">
      Send Escrow Cancel to Xumm
    </button>
    <label *ngIf="!escrowOwnerInput || !validAddress">Please enter a valid XRPL address.</label>
    <label *ngIf="validAddress && ( !escrowSequenceInput || !validSequence )">Please enter a valid Escrow Sequence.</label>
  </div>
</mat-expansion-panel>