<mat-expansion-panel>
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <mat-icon style="transform: scale(0.9);">send</mat-icon> &nbsp; Escrow Finish
    </mat-panel-title>
    <mat-panel-description>
      Execute an Escrow Finish transaction to release your funds in Escrow.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header  fxShow.xs fxHide>
    <mat-panel-title style="align-items: center;">
      Escrow Finish
    </mat-panel-title>
    <mat-panel-description>
      Release Escrow Funds.
    </mat-panel-description>
  </mat-expansion-panel-header>

  <a href="https://xrpl.org/escrowfinish.html" target="_blank">Escrow Finish Documentation</a><br/>
  <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
    <mat-form-field>
      <input #inpescrowowner matInput name="escrowowner" matInput placeholder="XRPL address which owns the Escrow" [(ngModel)]="escrowOwnerInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="escrowOwnerInput && !validAddress" style="color: crimson;">Not a valid XRPL address</mat-hint>
      <mat-hint *ngIf="escrowOwnerChangedAutomatically" style="color: crimson;">Escrow Owner changed. Your inserted account was the destination address.</mat-hint>
    </mat-form-field>
    <div style="margin-bottom: 1em;" >
      <escrowList [escrowAccountChanged]="escrowAccountChanged.asObservable()" (escrowSequenceFound)="onEscrowSequenceFound($event)" [testMode]="testMode"></escrowList>
    </div>
    <mat-form-field [ngClass]="{'changed': escrowSequenceSelected}">
      <input #inpescrowsequence matInput name="escrowsequence" min="0" matInput placeholder="Escrow Sequence Number" [(ngModel)]="escrowSequenceInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="escrowSequenceInput && !validSequence" style="color: crimson;">Not a valid Escrow Sequence</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input #inppassword matInput name="password" [type]="hidePw ? 'password' : 'text'" matInput placeholder="Password which secures the Escrow (optional)" [(ngModel)]="passwordInput" (ngModelChange)="checkChanges()">
      <mat-hint style="color: orangered;">Optional. The password you choose when creating the Escrow.</mat-hint>
      <button mat-icon-button matSuffix (click)="hidePw = !hidePw" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePw">
        <mat-icon>{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start"  fxLayoutGap="0.5em" style="padding-top: 2em;">
    <button mat-raised-button color="primary" (click)="sendPayloadToXumm()" [disabled]="!isValidEscrowFinish">
      Send Escrow Finish to Xumm
    </button>
    <label *ngIf="!escrowOwnerInput || !validAddress">Please enter a valid XRPL address.</label>
    <label *ngIf="validAddress && ( !escrowSequenceInput || !validSequence )">Please enter a valid Escrow Sequence.</label>
  </div>
</mat-expansion-panel>