<mat-expansion-panel [disabled]="originalAccountInfo && originalAccountInfo.error">
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">vpn_key</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Set Regular Key </span>
    </mat-panel-title>
    <mat-panel-description>
      Authorize a secondary key pair, called a regular key pair, to sign future transactions.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Set Regular Key</label>
    </mat-panel-title>
    <mat-panel-description>
      Set secondary key pair
    </mat-panel-description>
  </mat-expansion-panel-header>

  <a href="https://xrpl.org/setregularkey.html" target="_blank" rel="noreferrer">Set Regular Key Documentation</a><br/>
  <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em;">
    <mat-form-field>
      <input #inpregularkey matInput name="regularkey" ngStyle.xs="font-size: 0.8em;" placeholder="XRPL address which will be able to sign transactions" [(ngModel)]="regularKeyInput" (ngModelChange)="checkChanges()">
      <mat-hint *ngIf="regularKeyInput && !validAddress">Not a valid XRPL address</mat-hint>
      <mat-hint *ngIf="originalAccountInfo && regularKeyInput == originalAccountInfo.Account">You cannot set the Regular Key to the same address.</mat-hint>
    </mat-form-field>
  </form>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start" fxLayoutGap="0.5em" style="padding-top: 2em;">
    <button mat-raised-button color="primary" (click)="sendPayloadToXumm()" [disabled]="!validAddress || (originalAccountInfo && (regularKeyInput == originalAccountInfo.Account || regularKeyInput == originalAccountInfo.RegularKey))">
      Send Set Regular Key to Xumm
    </button>
    <button mat-raised-button color="warn" (click)="deleteRegularKey()" matTooltip="Delete Regular Key!" [disabled]="(originalAccountInfo || originalAccountObjects) && (!hasAlternativeSigningMethod() || originalAccountInfo && !originalAccountInfo.RegularKey)">
      Delete Regular Key
    </button>
  </div>
  <mat-hint *ngIf="originalAccountInfo && originalAccountInfo.RegularKey && !hasAlternativeSigningMethod()">Befor you can delete your Regular Key you have to set an alternative signing method. (Master Key or SignerList)</mat-hint>
</mat-expansion-panel>