
@media (max-width:599px) {
    
    .mat-expansion-panel-header-title {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: start;
        text-align: start;
        padding: 0 12px;
    }
}
