<mat-expansion-panel [disabled]="originalAccountInfo && originalAccountInfo.error">
  <mat-expansion-panel-header fxShow fxHide.xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">playlist_add_check</mat-icon> </span>
      <span style="margin-left: 0.5em;"> Signer List Set </span>
    </mat-panel-title>
    <mat-panel-description>
      Create, replace, or remove a list of signers that can be used to multi-sign a transaction.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      Signer List Set
    </mat-panel-title>
    <mat-panel-description>
      Set a list of signers
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div fxFlex fxLayout="column" fxLayoutGap="5em;">
    <a href="https://xrpl.org/signerlistset.html" target="_blank" rel="noreferrer">Signer List Set Documentation</a>
    <form fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 1em; margin-bottom: 15px;" ngStyle.xs="margin-bottom: 25px;">
      <mat-form-field>
        <input #inpsignerquorum matInput name="signerquorum" matInput placeholder="Signer Quorum. A target number for the signer weights" [(ngModel)]="signerQuorumInput" (ngModelChange)="checkChanges()">
        <mat-hint *ngIf="validSignerQuorum.valid" style="color: grey !important">{{validSignerQuorum.message}}</mat-hint>
        <mat-hint *ngIf="!validSignerQuorum.valid">{{validSignerQuorum.message}}</mat-hint>
      </mat-form-field>
    </form>
    <mat-card ngStyle.xs="padding: 8px;">
      <h3>Signer List (maximum of 8 XRPL addresses)</h3>
      <mat-hint style="color: grey !important">Please make sure that the XRPL account this Signer List will be submitted to is not in the list below. Otherwise your transaction will fail.</mat-hint><br><br>
      <label>Current overall signer list weight: {{overallSignerWeights}}</label>
      <mat-accordion fxLayout="column" fxLayoutGap="0.5em" style="padding-top: 0.5em;">
        <mat-expansion-panel *ngFor="let signer of signerList; index as i;" fxLayout="column" [ngClass]="(i%2==0 ? 'expansion-panel-light': 'expansion-panel-darker')">
          <mat-expansion-panel-header [ngClass]="(i%2==0 ? 'expansion-panel-light': 'expansion-panel-darker')">
            <mat-panel-title ngStyle.xs="font-size: 0.8em;" *ngIf="signer.SignerEntry.Account">
              <div *ngIf="signer.valid" fxLayout="row" fxLayout.xs="column">
                {{i+1}}.&nbsp;{{signer.SignerEntry.Account}}&nbsp;|&nbsp;Weight:{{signer.SignerEntry.SignerWeight}}
              </div>
              <div *ngIf="!signer.valid" fxLayout="row" fxLayout.xs="column" style="align-items: center;">
                {{i+1}}.&nbsp;{{signer.SignerEntry.Account}}&nbsp;<mat-icon style="color: orangered;">error_outline</mat-icon>
              </div>
            </mat-panel-title>
            <mat-panel-title *ngIf="!signer.SignerEntry.Account">
              {{i+1}}.&nbsp; New Signer List Entry
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form fxLayout="column" fxLayoutGap="0.5em">
            <mat-form-field>
              <input #inpaddress matInput name="signeraddress" ngStyle.xs="font-size: 0.8em;" placeholder="XRPL address to add to the signer list" [(ngModel)]="signer.SignerEntry.Account" (ngModelChange)="checkSignerChanges(signer)">
              <mat-hint *ngIf="signer.SignerEntry.Account && !isValidXRPAddress(signer.SignerEntry.Account)">Not a valid XRPL address</mat-hint>
              <mat-hint *ngIf="signer.SignerEntry.Account && isValidXRPAddress(signer.SignerEntry.Account) && isDuplicateAccount(signer.SignerEntry.Account)">The same XRPL address can only be added once!</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input #inpaddress matInput name="signerweight" placeholder="The weight of a signature from this signer" [(ngModel)]="signer.SignerEntry.SignerWeight" (ngModelChange)="checkSignerChanges(signer)">
              <mat-hint *ngIf="!isValidInteger(signer.SignerEntry.SignerWeight)">Please provide an integer value</mat-hint>
              <mat-hint *ngIf="isValidInteger(signer.SignerEntry.SignerWeight) && !isValidWeight(signer.SignerEntry.SignerWeight)">The signature weight must be greater 0 and smaller 65536</mat-hint>
            </mat-form-field>
          </form>
          <button mat-raised-button color="warn" matTooltip="Delete Signer" (click)="removeSigner(i)" style="align-items: center; margin-top: 1em;">
            <mat-icon>delete</mat-icon> Delete Signer Entry
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <button *ngIf="signerList.length < 8" mat-raised-button color="primary" matTooltip="Add a new Signer" (click)="addSigner()" style="margin-top: 1em;">
        <mat-icon>playlist_add</mat-icon> Add Signer
      </button>
    </mat-card>
    
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start" fxLayoutGap="0.5em" style="padding-top: 2em;">
      <button mat-raised-button color="primary" (click)="sendPayloadToXumm()" [disabled]="!this.signerQuorumInput || !validSignerList">
        Send Signer List Set to Xumm
      </button>
      <button mat-raised-button color="warn" (click)="deleteSignerList()" matTooltip="Delete Signer List!"  [disabled]="!hasAlternativeSigningMethod() || !originalAccountObjects || (!originalAccountObjects[0] || this.originalAccountObjects[0].LedgerEntryType != 'SignerList')" >
        Delete Signer List from Account
      </button>
    </div>
    <mat-hint *ngIf="!hasAlternativeSigningMethod() && originalAccountObjects && originalAccountObjects[0] && this.originalAccountObjects[0].LedgerEntryType === 'SignerList'">Befor you can delete your Signer List you have to set an alternative signing method. (Master Key or Regular Key)</mat-hint>
  </div>
</mat-expansion-panel>