<mat-expansion-panel [disabled]="originalAccountInfo && originalAccountInfo.error" #mep>
  <mat-expansion-panel-header data-hide-xs>
    <mat-panel-title>
      <span> <mat-icon style="transform: scale(0.9);">swap_horiz</mat-icon> </span>
      <span class="loading" style="margin-left: 0.5em;"> Trust Set (TrustLines) </span>
    </mat-panel-title>
    <mat-panel-description>
      Create or modify a TrustLine linking two accounts.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel-header fxShow.xs fxHide>
    <mat-panel-title>
      <label class="loading">Trust Set</label>
    </mat-panel-title>
    <mat-panel-description>
      Create or modify a TrustLine
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div data-layout="column" data-layout-gap="0.5em" fxLayoutGap.xs="0.3em">
    <a href="https://xrpl.org/trustset.html" target="_blank" rel="noreferrer">Trust Set Documentation</a><br/>
    <label>Create or modify a trust line linking two accounts.</label>
    <div style="margin-bottom: 1em;" [ngStyle]="{'display': !validCurrency ? 'block':'none' }">
      <trustlineList [xrplAccountInfoChanged]="xrplAccountInfoChangedSubject.asObservable()" [accountObjectsChanged]="trustlinesChangedSubject.asObservable()" (trustLineEdit)="onTrustLineEdit($event)" (trustLineDelete)="deleteTrustLine($event)" (disableRippling)="onDisableRippling($event)"></trustlineList>
    </div>
    <form data-layout="column" data-layout-gap="0.5em" style="padding-top: 1em;">
      <mat-form-field>
        <input #inpisseraccount matInput name="isseraccount" matInput placeholder="XRPL address which issues the Token" [(ngModel)]="issuerAccountInput" (ngModelChange)="issuerAccountChanged()" [disabled]="isEditMode">
        <mat-hint *ngIf="issuerAccountInput && !validAddress">Not a valid XRPL address</mat-hint>
      </mat-form-field>
      <div style="margin-bottom: 1em;" [ngStyle]="{'display': !validCurrency ? 'block':'none' }">
        <tokenList [issuerAccountChanged]="issuerAccountChangedSubject.asObservable()" (issuerCurrencySelected)="onIssuedCurrencyFound($event)"></tokenList>
      </div>
      <div *ngIf="selectedCurrency && validCurrency" data-layout="column" data-layout-gap="0.5em">
        <mat-form-field [ngClass]="{'changed': showIssuedCurrencySelectedStyle}">
          <input readonly disabled="true" #inpissuedcurrency matInput name="issuedcurrency" matInput placeholder="Token currency code" [(ngModel)]="selectedCurrency.currencyCodeUTF8" (ngModelChange)="currencyChanged()" [disabled]="isEditMode">
          <mat-hint *ngIf="selectedCurrency && !validCurrency">Not a valid Token currency</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input #inplimit matInput type="text" name="limit" placeholder="Limit to set on this TrustLine." [(ngModel)]="limitInput" (ngModelChange)="checkChanges()">
          <mat-hint *ngIf="limitInput && !validLimit && maxFifthteenDigits">Limit cannot have more than 15 decimals.</mat-hint>
          <mat-hint *ngIf="limitInput && !validLimit && !maxFifthteenDigits && limitInput.toString().includes(',')">Not a valid amount. Please use '.' as decimal operator.</mat-hint>
          <mat-hint *ngIf="limitInput && !validLimit && !maxFifthteenDigits && !limitInput.toString().includes(',')">Not a valid amount</mat-hint>
        </mat-form-field>
      </div>
    </form>
    <div data-layout="row" fxLayout.xs="column" data-layout-align="start center" fxLayoutAlign.xs="start start"  data-layout-gap="0.5em" style="padding-top: 2em;">
      <div *ngIf="loadingIssuerData" data-layout="row" fxLayout.xs="column" data-layout-align="start center" fxLayoutAlign.xs="start start"  data-layout-gap="0.5em">
        <label>Loading ...&nbsp;</label>
        <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
      </div>
      <div *ngIf="!loadingIssuerData" data-layout="column" data-layout-align="start start"  data-layout-gap="0.5em">
        <div>
          <label class="warning" *ngIf="allFieldsSet && validAddress && !currencyExists">The above account does not issue the token "{{selectedCurrency.currencyCodeUTF8}}". We do not allow you to create this trust line. Please check your token currency code!</label>
          <label class="warning" *ngIf="allFieldsSet && validAddress && currencyExists && !issuerHasDefaultRipple">The issuer has the "DefaultRipple" flag not set. We do not allow you to set this trust line because you will not be able to transfer your tokens to others, and will possibly be unable to ever remove the TrustLine again. Please contact the token issuer to fix this problem!</label>
        </div>
        
        <div data-layout="row" fxLayout.xs="column" data-layout-align="start center" fxLayoutAlign.xs="start start"  data-layout-gap="0.5em">
          <button mat-raised-button color="primary" (click)="sendPayloadToXumm()" [disabled]="!isValidTrustSet || !issuerHasDefaultRipple || !currencyExists || loadingIssuerData">
            Send Trust Set to XUMM
          </button>
          <button *ngIf="isEditMode" mat-raised-button color="secondary" (click)="cancelEdit()">
            Cancel Edit
          </button>
          <button *ngIf="isValidTrustSet" mat-raised-button color="secondary" (click)="clearInputs()">
            Clear Inputs
          </button>
          <label *ngIf="!issuerAccountInput || !validAddress">Please enter a valid XRPL address.</label>
          <label *ngIf="validAddress && ( !selectedCurrency || !validCurrency )">Please enter a valid Token currency code.</label>
          <label *ngIf="validAddress && validCurrency && ( !limitInput || !validLimit )">Please enter a valid Limit for this TrustLine.</label>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>