/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a.footerlink {
    margin-right: 1em;
}

.mat-toolbar.mat-primary {
    background: #1744A1;
}

.floatcenter {
    display: inline-block;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.floatleft {
    float: left;
}
  
.floatright {
    float: right;
}

.mat-button.sign-in-button {
    width: 230;
    min-width: 230px;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

body .snackbar-success {
    background: #ffffff;
    color: green;
    display: flex;
    justify-content: center;
  }
  
  body .snackbar-failed {
    background: #ffffff;
    color: #EB0000;
    display: flex;
    justify-content: center;
  }
