/* You can add global styles to this file, and also import other style files */
@import './theme';

html, body { 
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
}

a.footerlink {
    margin-right: 1em;
}

.mat-toolbar.second-toolbar {
    background-color: rgb(27, 79, 184) !important;
    height: 36px;
    font-size: 0.8em;
}

.floatcenter {
    display: inline-block;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.floatleft {
    float: left;
}
  
.floatright {
    float: right;
}

.mat-button.sign-in-button {
    width: 230;
    min-width: 230px;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.mat-expansion-panel-header-title {
    width: 20%;
    align-items: center;
}

.mat-expansion-panel-header-description {
    width: 80%;
    align-items: center;
}

body .snackbar-success {
    color: green !important;
    display: flex;
    justify-content: center;
}
  
body .snackbar-failed {
    color: #EB0000 !important;
    display: flex;
    justify-content: center;
}

.mat-card.margin-5 {
    margin: 5px;
}

.changed {
    transition: color 0s ease-in, text-shadow 0s ease-in, background-color 1.1s linear 0s;
    text-shadow: #bbb 2px 2px 2px;
    color: red;
    font-weight: 600;
}

.mat-hint {
    color: #f44336 !important;
}

// adds breaks to the mat-checkboxes with long labels
.mat-checkbox-layout {
    white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
.mat-checkbox-inner-container {
    margin-top: 3px !important;
}

.title, .title-long {
    font-weight: bold;
}

@media (max-width:599px) {
    
    .title-long {
        font-weight: bold;
        font-size: .8em;
    }

    .mat-expansion-panel-header {
        padding: 0 12px !important;
    }

    .mat-expansion-panel-header-title {
        width: 40%;
        margin-right: 8px !important;
        padding: 0px !important;
    }

    .mat-expansion-panel-header-description {
        width: 60%;
    }

    .mat-expansion-panel-body {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .mat-card {
        padding: 12px 8px 12px !important;
    }

    .mat-dialog-container {
        padding: 12px !important;
    }
}
